<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>.:Laboratorio Clínico:.</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../images/struc.css"/>

    <script>
        (function(){
             $.getJSON("../busquedaproducto").done(function (data) {
                 var resultados = $("#resultados");
                 var hd1 = $("#hd1");

                 if (data){
                    data = $.parseJSON(data);

                    var tablaresult="<table class=\"table table-striped table-bordered dt-responsive nowrap\" cellspacing=\"0\" width=\"85%%\">";
                    tablaresult=tablaresult+"<thead>";
                    tablaresult=tablaresult+"<tr>";
                    tablaresult=tablaresult+"<th style=\"text-align: center;\">Producto</th>";
                    tablaresult=tablaresult+"<th style=\"text-align: center;\">Bodega Actual</th>";
                    tablaresult=tablaresult+"<th style=\"text-align: center;\">Unidades</th>";
                    tablaresult=tablaresult+"<th style=\"text-align: center;\">Medida</th>";
                    tablaresult=tablaresult+"<th style=\"text-align: center;\">Fecha Ejecución</th>";
                    tablaresult=tablaresult+"</tr>";
                    tablaresult=tablaresult+"</thead>"

                    var result ="";

                    $(data).each(function() {
                        result=result+"<tr>";
                        result=result+"<td>"+this.nombre+"</td>";
                        result=result+"<td>"+this.bodegaActual+"</td>";
                        result=result+"<td style=\"text-align: right\">"+this.unidadesExistentes+"</td>";
                        result=result+"<td style=\"text-align: right\">"+this.unidad_medida+"</td>";
                        result=result+"<td style=\"text-align: right\"><a href=\"../verproductobusquedadetalle/?id="+this.id+"\">"+this.fechaTransaccion+"</a></td>";
                        result=result+"</tr>";
                        hd1.val(this.hidden1);
                    });

                    tablaresult=tablaresult+result+"</table>";

                    $(resultados).append(tablaresult);
                }
                else {
                    $(resultados).text("No hay productos para mostrar");
                }
            });
        })();

        //Llena selector de Productos
        (function(){
             $.getJSON("../obtenerlistaproductos").done(function (data) {
                 var selectprod = $("#producto");

                 if (data){
                    data = $.parseJSON(data);

                    var result ="";

                    $(data).each(function() {
                        selectprod.append("<option value=\""+this.fields.codigo+"\">"+this.fields.nombre+"</option>");
                    });
                }
            });
        })();

        //Llena selector de Bodegas 1 y 2
        (function(){
             $.getJSON("../obtenerlistabodegas").done(function (data) {
                 var selectb = $("#bodega");

                 if (data){
                    data = $.parseJSON(data);

                    var result ="";

                    $(data).each(function() {
                        selectb.append("<option value=\""+this.fields.serial+"\">"+this.fields.nombre+"</option>");
                    });
                }
            });
        })();
    </script>

</head>
<body>
<div id="wrapper">
    <div id="encabezado"></div>
    <div id="content">
        <br>
<br>
<form id="formBuscarProducto" action="../verproductobusqueda/" method="post">
<div id="principal" class="panel panel-default">
    <div class="page-header" style="margin-bottom: 0px;">
        <h2 id="tituloprod" style="text-align: center;">Localización Productos</h2>
    </div>
    <div class="panel-body">
        <div id="busqueda" class="col-md-6 col-sm-offset-3" style="margin-left: 25%">
            <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                <tr>
                    <td>
                        <b>Producto</b>&nbsp;
                        <select id="producto" name="producto" class="selectpicker form-control" style="width: auto; display: inline">
                            <option selected disabled hidden>Seleccione...</option>
                        </select>
                    </td>
                    <td>
                        <b>Bodega</b>&nbsp;
                        <select id="bodega" name="bodega" class="selectpicker form-control" style="width: auto; display: inline">
                            <option selected disabled hidden>Seleccione...</option>
                        </select>
                    </td>
                    <td>
                        <b>Fecha Ejecución</b>&nbsp;
                        <input type="date" id="fechatransaccion" name="fechatransaccion" class="form-control input-md" style="width: auto; display: inline">
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="3">
                        <input type="submit" id="buscar" value="Buscar" class="btn btn-primary">&nbsp;&nbsp;<a href="">cancelar</a>
                    </td>
                </tr>
            </table>
            <input type="hidden" id="hd1" name="hd1">
        </div>
        <div>&nbsp;</div>
        <div id="resultados">
        </div>
    </div>
</div>
</form>
    </div>
<div id="pie" align="center"></div>
</div>
</body>
<script>
            (function(){
                try {
                    $("#encabezado").load("../encabezado");
                    $("#pie").load("../pie");
                }catch (exc){
                    alert(exc.message);
                }
            })();
</script>
</html>