<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <title>.:Laboratorio Científico:.</title>
    <!-- Bootstrap core CSS     -->
    <!--<link href="../../../images/assets/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Animation library for notifications   -->
    <link href="../../../images/assets/css/animate.min.css" rel="stylesheet">
    <!--  Light Bootstrap Table core CSS    -->
    <link href="../../../images/assets/css/light-bootstrap-dashboard.css" rel="stylesheet">
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../../../images/assets/css/demo.css" rel="stylesheet">
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
    <link href="../../../images/assets/css/pe-icon-7-stroke.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <script>
        parametroMensaje = "";
        function GetParameterValues(param) {
            var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < url.length; i++) {
                var urlparam = url[i].split('=');
                if (urlparam[0] == param) {
                    return urlparam[1];
                }
            }
        }

        (function(){
            $("#btnCerrada").hide();
            $("#mensaje").hide();
            parametroMensaje= GetParameterValues("mensaje");
            var parametroConteo = GetParameterValues("id_conteo");
            if (parametroConteo) {
                //cargar informacion
                $.getJSON("../obtenerconteo",{
                    id_conteo: parametroConteo
                }).done(function (data) {
                    var resultados = $("#resultados");

                    if (data)
                    {
                        if(data.length > 0 && data != "[]")
                        {
                            data = $.parseJSON(data);
                            var tablaresult="<table class=\"table table-striped table-bordered dt-responsive nowrap\" cellspacing=\"0\" width=\"85%%\">";
                            tablaresult=tablaresult+"<thead>";
                            tablaresult=tablaresult+"<tr>";
                            tablaresult=tablaresult+"<th style=\"text-align: center;\">Id</th>";
                            tablaresult=tablaresult+"<th style=\"text-align: center;\">Producto</th>";
                            tablaresult=tablaresult+"<th style=\"text-align: center;\">Bodega</th>";
                            tablaresult=tablaresult+"<th style=\"text-align: center;\">Nivel</th>";
                            tablaresult=tablaresult+"<th style=\"text-align: center;\">Sección</th>";
                            tablaresult=tablaresult+"<th style=\"text-align: center;\">Cantidad</th>";
                            tablaresult=tablaresult+"<th style=\"text-align: center;\">Diferencia</th>";
                            tablaresult=tablaresult+"<th style=\"text-align: center;\">Cantidad Real</th>";
                            tablaresult=tablaresult+"<th style=\"text-align: center;\">Tipo Diferencia</th>";
                            tablaresult=tablaresult+"</tr>";
                            tablaresult=tablaresult+"</thead>";

                            var result = "";
                            var productoactual = "";
                            var unidad_medida_actual = "";
                            var sumatoria = 0;
                            var primercalculo = true;
                            $(data).each(function() {
                                if (primercalculo)
                                {
                                    productoactual = this.nombre;
                                    unidad_medida_actual = this.unidad_medida;
                                    sumatoria = 0;
                                    primercalculo = false;
                                    if (this.ver_btn_ajuste=='0'){
                                        $('#btnAjustarABC').attr('disabled', true);
                                        $('#btnAjustarABC').bind('click', false);
                                    }else {
                                        $('#btnAjustarABC').attr('disabled', false);
                                    }
                                    if (this.ver_msj_cerrada == '1'){
                                        $("#btnCerrada").show();
                                        $('#btnCerrada').attr('disabled', true);
                                        $('#btnCerrada').bind('click', false);
                                    }else{
                                        $("#btnCerrada").hide();
                                    }
                                }

                                if(productoactual != this.nombreProducto)
                                {
                                    //Agregar fila totales
                                    if (productoactual && productoactual != 'undefined '){
                                        result=result+"<tr><td align=\"right\" colspan=\"5\"><b>" + productoactual + " TOTAL</b></td>" +
                                            "<td align=\"right\" style=\"font-weight:bold;\">" + sumatoria + " " + unidad_medida_actual +"</td>" +
                                            "<td></td></tr>";
                                    }
                                    //Una vez creado los totales, actualizar las variables para el producto actual.
                                    productoactual = this.nombreProducto;
                                    unidad_medida_actual = this.unidadMedida;
                                    sumatoria = 0
                                }

                                //Fila normal
                                sumatoria = sumatoria + this.cantidad;

                                result=result+"<tr>";
                                result=result+"<td style=\"text-align: center\">"+this.idDetalle+"<input type=\"hidden\" name=\"id\" value=\""+this.id+"\"></td>";
                                result=result+"<td>"+this.nombreProducto+"</td>";
                                result=result+"<td>"+this.nombreBodega+"</td>";
                                result=result+"<td>"+this.nivel+"</td>";
                                result=result+"<td>"+this.seccion+"</td>";
                                result=result+"<td style=\"text-align: right\"><div id=\"cantidad"+(this.idDetalle)+"\">"+this.cantidad+" " + this.unidadMedida + "</div></td>";
                                result=result+"<td style=\"text-align: right\"><div id=\"diferencia_cantidad"+(this.idDetalle)+"\">"+(this.diferencia_cantidad!=null?this.diferencia_cantidad:0) +" " + this.unidadMedida + "</div></td>";
                                result=result+"<td style=\"text-align: center; width:10%;\"><input type=\"number\" maxlength=\"3\" style=\"width:60px;\" onblur=\"guardarCantidadFisica(this,"+this.idDetalle+");\">";
                                result=result+"<td style=\"text-align: center; width:10%;\"><div id=\"tipo_diferencia"+(this.idDetalle)+"\"></div></td>";
                                result=result+"</tr>";
                            });

                            result=result+"<tr><td align=\"right\" colspan=\"5\"><b>" + productoactual + " TOTAL</b></td>" +
                                "<td align=\"right\" style=\"font-weight:bold;\">" + sumatoria + " " + unidad_medida_actual +"</td>" +
                                "<td></td></tr>";

                            tablaresult=tablaresult+result+"</table>";

                            $(resultados).append(tablaresult);
                        }
                        else{
                            $(resultados).append("<table class=\"table table-striped table-bordered dt-responsive nowrap\" cellspacing=\"0\" width=\"85%%\"><tr><td align=\"center\"><b>No hay productos para mostrar</b></td></tr></table>");
                        }
                    }
                    else {
                        $(resultados).append("<table class=\"table table-striped table-bordered dt-responsive nowrap\" cellspacing=\"0\" width=\"85%%\"><tr><td align=\"center\"><b>No hay productos para mostrar</b></td></tr></table>");
                    }
                });
            }


        })();
    </script>
</head>
<body>
<div id="wrapper">
    <div class="sidebar" data-color="blue" data-image="../../../images/assets/img/sidebar-4.jpg" style="position: fixed">
        <div class="sidebar-wrapper" style="position: fixed">
            <div id="encabezado"></div>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header"> <a class="navbar-brand" href="#">Profile</a> </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li> <a href="#">
                            Log out
                        </a> </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br>
        <div id="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Conteo Físico</h4>
                                <p class="category"></p>
                            </div>
                            <div id="mensaje" class="alert alert-info">
                                <label id="mensaje1"></label>
                            </div>
                            <div style="text-align: center;">
                                <a id="btnAjustarABC" onclick="generarAjustes()" class="btn btn-primary" role="button">Ajustar</a>
                                <a id="btnCerrada" href="" class="btn btn-info" role="button">Conteo Fisico Cerrado</a>
                                <a href="../verconteosabc/">Cancelar</a>
                            </div>
                            <div id="resultados" style="padding: 20px">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pie"></div>
    </div>
</div>
</body>
<!--  Checkbox, Radio & Switch Plugins -->
<script src="../../../images/assets/js/bootstrap-checkbox-radio-switch.js"></script>
<!--  Charts Plugin -->
<script src="../../../images/assets/js/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../../../images/assets/js/bootstrap-notify.js"></script>
<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="../../../images/assets/js/light-bootstrap-dashboard.js"></script>

<script>
    (function(){
        try {
            $("#encabezado").load("../encabezado");
            $("#pie").load("../pie");
            if (parametroMensaje) {
                $("#mensaje").show();
                $("#mensaje1").text(parametroMensaje.replace(/_/g, " "));
            }else{
                $("#mensaje").hide();
                $("#mensaje1").text("");
            }
        }catch (exc){
            alert(exc.message);
        }
    })();

    function generarAjustes() {
        $.ajax({
            url: '../generarAjustesInventario/',
            dataType: 'text',
            type: 'post',
            data: {
                    "id_conteo":GetParameterValues("id_conteo")
                    },
            success: function( data, textStatus, jQxhr ){

                if (data){
                    data = $.parseJSON(data);
                    alert("El conteo se cierra " + data.mensaje);
                    window.location = '../verconteosabc/';
                }
            }

        });
    }
    function guardarCantidadFisica(input, id_detalle_conteo){
        $.ajax({
            url: '../actualizarconteofisico/',
            dataType: 'text',
            type: 'post',
            data: {
                    "id_detalle_conteo":id_detalle_conteo,
                    "cantidad_fisica":input.value
                    },
            success: function( data, textStatus, jQxhr ){
                if (data){
                    data = $.parseJSON(data);
                    document.getElementById("diferencia_cantidad"+id_detalle_conteo).innerText = data.diferencia_cantidad;
                    document.getElementById("tipo_diferencia"+id_detalle_conteo).innerText = data.tipo_diferencia;
                    if (data.ver_btn_ajuste=='0'){
                        $('#btnAjustarABC').attr('disabled', true);
                        $('#btnAjustarABC').bind('click', false);
                    }else{
                        $('#btnAjustarABC').attr('disabled', false);
                    }
                    if (data.ver_msj_cerrada == '1'){
                        $("#btnCerrada").show();
                        $('#btnCerrada').attr('disabled', true);
                        $('#btnCerrada').bind('click', false);
                    }else{
                        $("#btnCerrada").hide();
                    }

                }
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            }
        });
    }
</script>
</html>