<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <title>.:Laboratorio Científico:.</title>
  <!-- Bootstrap core CSS     -->
  <link href="../../../images/assets/css/bootstrap.min.css" rel="stylesheet">
  <!-- Animation library for notifications   -->
  <link href="../../../images/assets/css/animate.min.css" rel="stylesheet">
  <!--  Light Bootstrap Table core CSS    -->
  <link href="../../../images/assets/css/light-bootstrap-dashboard.css" rel="stylesheet">
  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="../../../images/assets/css/demo.css" rel="stylesheet">
  <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
  <link href="../../../images/assets/css/pe-icon-7-stroke.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
</head>
<body>
    <div id="wrapper">
    <div class="sidebar" data-color="blue" data-image="../../../images/assets/img/sidebar-5.jpg" style="position: fixed">
      <div class="sidebar-wrapper" style="position: fixed">
        <div id="encabezado"></div>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
          <div class="navbar-header"> <a class="navbar-brand" href="#">Profile</a> </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li> <a href="#">
                                Log out
                            </a> </li>
            </ul>
          </div>
        </div>
      </nav>
        <br>
    <div id="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-sm-offset-3">
              <div class="card">
                <div class="header">
                  <h4 class="title">Bodegas</h4>
                    <p class="category" id="hCrear">Registro de Bodegas</p>
                    <p class="category" id="hEditar">Edición de Bodegas</p>
                </div>
                  <div id="mensaje" class="alert alert-warning">
                <label id="mensaje1"></label>
                </div>
                  <form id="formCrearBodega" action="../crearBodega/" method="post" style="padding: 30px">
    <input id="id_bodega_guardada" name="id_bodega_guardada" type="hidden" />
            <label><b>Serial</b></label>
            <input id="serial" name="serial" type="text" class="form-control input-md"
                   required/>
            <br/>
            <label ><b>Nombre</b></label>
            <input id="nombre" name="nombre" type="text" class="form-control input-md"
                   required/>
            <br/>
            <label ><b>Ubicación</b></label>
            <input id="ubicacion" name="ubicacion" type="text" class="form-control input-md"
                   required/>
            <br/>
            <label ><b>Niveles</b></label>
            <input id="niveles" name="niveles" type="number" class="form-control input-md"
                   min="1" max="5" required maxlength="1" />
            <br/>
            <label ><b>Secciones</b></label>
            <input id="secciones" name="secciones" type="number" class="form-control input-md"
                    min="1" max="7" required maxlength="1"/>
            <br/>
            <label ><b>Temperatura Mínima</b></label>
            <input id="temperatura_minima" name="temperatura_minima" type="number" class="form-control input-md"
                    min="-100" max="100" required maxlength="3"/>
            <br/>
            <label ><b>Temperatura Media</b></label>
            <input id="temperatura_media" name="temperatura_media" type="number" class="form-control input-md"
                    min="-100" max="100" required maxlength="3"/>
            <br/>
            <label ><b>Responsable</b></label>
            <select id="responsable" name="responsable" class="selectpicker form-control" required>
            </select>
            <br/>
            <label ><b>Tipo Bodega</b></label>
            <select id="tipo_bodega" name="tipo_bodega" class="selectpicker form-control" required>
            </select>
            <br/>
            <label ><b>Unidad de Medida Preferencia Visual</b></label>
            <select id="unidad_medida" name="unidad_medida" class="selectpicker form-control" required>
            </select>
            <br/>
            <input type="submit" value="Guardar" class="btn btn-primary"/>
            <a href="../bodegas">Cancelar</a>
                  </form>
        </div>
    </div>
              </div>
            </div>
          </div>
        <div id="pie"></div>
        </div>
    </div>
    </div>
    </div>
</body>
<!--  Checkbox, Radio & Switch Plugins -->
  <script src="../../../images/assets/js/bootstrap-checkbox-radio-switch.js"></script>
  <!--  Charts Plugin -->
  <script src="../../../images/assets/js/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../../../images/assets/js/bootstrap-notify.js"></script>
  <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
  <script src="../../../images/assets/js/light-bootstrap-dashboard.js"></script>
<script>
    function GetParameterValues(param) {
        var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < url.length; i++) {
            var urlparam = url[i].split('=');
            if (urlparam[0] == param) {
                return urlparam[1];
            }
        }
    }

    (function(){
        $.getJSON("../obtenerTiposBodega").done(function (data) {
            data =  $.parseJSON(data);
            var tipoBodega = $("#tipo_bodega");
            tipoBodega.append($("<option />").val("").text("Seleccione Tipo..."));
            $(data).each(function() {
                tipoBodega.append($("<option />").val(this.pk).text(this.fields.nombre));
            });
        });
        $.getJSON("../obtenerUnidadesMedida").done(function (data) {
            data =  $.parseJSON(data);
            var unidad_medida = $("#unidad_medida");
            unidad_medida.append($("<option />").val("").text("Seleccione Unidad..."));
            $(data).each(function() {
                unidad_medida.append($("<option />").val(this.pk).text(this.fields.nombre));
            });
        });
        $.getJSON("../obtenerUsuarios").done(function (data) {
            data =  $.parseJSON(data);
            var responsable = $("#responsable");
            responsable.append($("<option />").val("").text("Seleccione Responsable..."));
            $(data).each(function() {
                responsable.append($("<option />").val(this.pk).text(this.fields.first_name+' '+this.fields.last_name));
            });
        });
    })();

    (function(){
        try {
            $("#encabezado").load("../encabezado");
            $("#pie").load("../pie");
            var niveles = $( "#niveles" ).spinner();
            var secciones = $( "#secciones" ).spinner();
            var temperaturaMinima = $( "#temperaturaMinima" ).spinner({
              step: 0.01,
              numberFormat: "n"
            });
            var temperaturaMedia = $( "#temperaturaMedia" ).spinner({
              step: 0.01,
              numberFormat: "n"
            });

            var parametro = GetParameterValues("id_bodega");
            if (parametro){
                $('#hCrear').hide();
                $('#hEditar').show();
                //cargar informacion
                $.getJSON("../obtenerBodega",{
                            id_bodega: parametro
                         }).done(function (data) {
                    if (data){
                        bodega =  $.parseJSON(data.bodega);
                        $("#serial").val(bodega.fields["serial"]);
                        $("#nombre").val(bodega.fields["nombre"]);
                        $("#niveles").val(bodega.fields["niveles"]);
                        $("#secciones").val(bodega.fields["secciones"]);
                        $("#ubicacion").val(bodega.fields["ubicacion"]);
                        $("#temperatura_minima").val(bodega.fields["temperatura_minima"]);
                        $("#temperatura_media").val(bodega.fields["temperatura_media"]);
                        $("#responsable").val(bodega.fields["usuario"]);
                        $("#tipo_bodega").val(bodega.fields["tipo_bodega"]);
                        $("#id_bodega_guardada").val(bodega.pk);
                        $("#unidad_medida").val(bodega.fields["unidad_medida"]);
                    }
                });
            }
            else
            {
                $('#hCrear').show();
                $('#hEditar').hide();
            }


        }catch (exc){
            alert(exc.message);
        }
    })();

    $("#mensaje").hide();


    $('form').submit(function (e) {
        var formData = new FormData($("#formCrearBodega")[0]);
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data && data.mensaje && data.mensaje != "ok") {
                    $("#mensaje1").text(data.mensaje);
                    $("#mensaje").show();
                } else {
                    window.location = "../bodegas";
                }
            }
        });
        e.preventDefault();
    });
    /*(function(){
        $.getJSON("isLogged").done(function (data) {
            if (data.mensaje == 'no'){
                $("#add_user").show();
                $("#cerrar_session").hide();
                $("#mod_user").hide();
                $("#mod_pass").hide();
                $("#user_menu").hide();
                $("#login_user").show();
                $("#mi_perfil").hide();
                $("#datos_usuario_login").hide();
            }else{
                $("#add_user").hide();
                $("#cerrar_session").show();
                $("#mod_user").show();
                $("#mod_pass").show();
                $("#user_menu").show();
                $("#login_user").hide();
                $("#mi_perfil").show();
                $("#datos_usuario_login").show();
                if (data.usuario){
                    data = $.parseJSON(data.usuario);
                    $("#imagen_usuario").attr("title", data.fields.first_name+" "+data.fields.last_name);
                    $("#imagen_usuario").attr("src", "../"+data.fields.imageFile);
                }
            }
        });
    })();
    function logout(){
        $.getJSON("logout").done(function (data) {
            if (data.mensaje == 'ok'){
                location.reload();
            }else{
                alert("Hubo un error");
            }
        });
    }

*/
    </script>
</html>