<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <title>.:Laboratorio Científico:.</title>
    <!-- Bootstrap core CSS     -->
    <link href="../../../images/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Animation library for notifications   -->
    <link href="../../../images/assets/css/animate.min.css" rel="stylesheet">
    <!--  Light Bootstrap Table core CSS    -->
    <link href="../../../images/assets/css/light-bootstrap-dashboard.css" rel="stylesheet">
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../../../images/assets/css/demo.css" rel="stylesheet">
    <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
  <link href="../../../images/assets/css/pe-icon-7-stroke.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<div id="wrapper">
    <div class="sidebar" data-color="blue" data-image="../../../images/assets/img/sidebar-4.jpg" style="position: fixed">
      <div class="sidebar-wrapper" style="position: fixed">
        <div id="encabezado"></div>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
          <div class="navbar-header"> <a class="navbar-brand" href="#">Profile</a> </div>
          <div class="collapse navbar-collapse"><ul class="nav navbar-nav navbar-left"><li class="dropdown">                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="linkOrdenes">                              </a>                              <ul class="dropdown-menu" id="dropOrdenes">                              </ul>                        </li>               </ul>
               <ul class="nav navbar-nav navbar-left">
                   <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="linkOrdenes">
                              </a>
                              <ul class="dropdown-menu" id="dropOrdenes">
                              </ul>
                        </li>
               </ul>
            <ul class="nav navbar-nav navbar-right">
              <li> <a href="#">
                                Log out
                            </a> </li>
            </ul>
          </div>
        </div>
      </nav>
        <br>
    <div id="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-sm-offset-3">
              <div class="card">
                <div class="header">
                  <h4 class="title">Transacción de Inventario</h4>
                </div>
                  <div id="mensaje" class="alert alert-warning">
                      <label id="mensaje1"></label>
                </div>
                <div id="mensajeSuc" class="alert alert-success">
                    <label id="mensaje1Suc"></label>
                </div>
                  <form id="transaccion" action="../crearTransaccion/" method="post" style="padding: 30px">
                      <input id="id_bodega_guardada" name="id_bodega_guardada" type="hidden" />
                      <label ><b>Tipo</b></label>
                      <select id="tipo" name="tipo" class="selectpicker form-control" required></select><br>
                      <label ><b>Bodega Origen</b></label>
                      <select id="bodega_origen" name="bodega_origen" class="selectpicker form-control" required></select><br>
                      <input id="bodega_externa_entrada" hidden/>
                      <input id="bodega_salida" hidden/>
                      <input id="bodega_desperdicios" hidden/>
                      <label><b>Producto a mover</b></label>
                      <select id="producto_bodega_origen" name="producto_bodega_origen" class="selectpicker form-control" required></select><br>
                      <label ><b>Bodega Destino</b></label>
                      <select id="bodega_destino" name="bodega_destino" class="selectpicker form-control" required></select><br>
                      <label><b>Ubicación en bodegas:</b></label>
                      <div class="container-fluid">
                          <div id="ubicacion" class="col-lg-6 well">
                              <label id="nivel_origenlb">Nivel origen:</label>
                            <label id="nivel_origen" type="text"></label>
                            <br>
                            <label id="seccion_origenlb">Sección origen:</label>
                            <label id="seccion_origen"></label>
                            <br>
                            <label id="cantlabel">Cantidad a mover: </label>
                            <input id="cantidad" type="number" min="0" maxlength="5"/>  <label id="unidad_medida"></label>
                            <input id="prod_id" hidden/>
                            <label id="cantlabel">Unidad Preferencia Bodega: </label>
                            <br>
                            <input id="conversion" type="text" readonly/><label id="unidad_preferencia_bodega" type="text"></label>
                            <br>
                            <br>
                          </div>
                          <div id="ubicacion"  style="position: relative" align="rigth" class="col-lg-6 well">
                            <label>Nivel destino:</label>
                            <input id="nivel_destino" type="number" maxlength="1" min="0" max="10"></input><label id="nivelMax"></label>
                            <br>
                            <label>Sección destino:</label>
                            <input id="seccion_destino" type="number" maxlength="1" min="0" max="10"></input><label id="seccionMax"></label>
                            <br>
                            <br>
                          </div>
                      </div>
                      <label>Comentarios</label>
                      <input id="comentarios" name="comentarios" type="text" class="form-control input-md"/>
                      <br/>
                      <input id="btnsubmit" type="submit" value="Ejecutar" class="btn btn-primary"/>
                      <a id="btNuevaTrx" href="../transaccion" class="btn btn-primary" role="button">Nueva</a>
                      <a href="../transacciones">Cancelar</a>
                  </form>
                </div>
            </div>
            </div>
        </div>
        <div id="pie"></div>
    </div>
    </div>
    <div id="modal2" class="card" style="display: initial"></div>
</div>
</body>
<script src="../../../images/assets/js/bootstrap.min.js"></script>
<!--  Checkbox, Radio & Switch Plugins -->
<script src="../../../images/assets/js/bootstrap-checkbox-radio-switch.js"></script>
<!--  Charts Plugin -->
<script src="../../../images/assets/js/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../../../images/assets/js/bootstrap-notify.js"></script>
<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="../../../images/assets/js/light-bootstrap-dashboard.js"></script>
  <script src="../../../images/assets/js/demo.js"></script>
<script>
    //Llena la lista de valores de tipos de transaccion
    (function(){
        $.getJSON("../obtenerTipos/?grupo=TIPOTRX").done(function (data) {
            data =  $.parseJSON(data);
            var tipo = $("#tipo");
            tipo.append($("<option />").val("").text("Seleccione Tipo..."));
            $(data).each(function() {
                tipo.append($("<option />").val(this.pk).text(this.fields.nombre));
            });
        });
        //Obtiene los usuarios
        $.getJSON("../obtenerUsuarios").done(function (data) {
            data =  $.parseJSON(data);
            var responsable = $("#responsable");
            responsable.append($("<option />").val("").text("Seleccione Responsable..."));
            $(data).each(function() {
                responsable.append($("<option />").val(this.pk).text(this.fields.first_name+' '+this.fields.last_name));
            });
        });
    })();
    //Cuando cambia la bodega origen resetea los productos en la lista de productos
    $('#bodega_origen').change(function() {
        var bodega = $("#bodega_origen option:selected").val();
        $('#producto_bodega_origen').empty();
        // Si trae los productos existentes en la bodega seleccionada
        $.getJSON("../obtenerProductosBodega/?bodega=" + bodega).done(function (data) {
            data = $.parseJSON(data);
            var pbOrig = $("#producto_bodega_origen");
            pbOrig.append($("<option />").val("").text("Seleccione producto a mover..."));
            $(data).each(function () {
                pbOrig.append($('<option><div><label id="nivellinea">' + this.nivel + '</label><label id="seccionlinea">' + this.seccion + '</label>' +
                    '<label id="cantidadlinea">' + this.cantidad + '</label></div>' +
                    '</option>').val(this.id).text(this.producto + ": cantidad: " + this.cantidad + " " + this.unidad_medida + " nivel: " + this.nivel + " seccion: " + this.seccion));
                pbOrig.prepend('<div><label id="nivellinea' + this.id + '">' + this.nivel + '</label><label id="seccionlinea' + this.id + '">' + this.seccion + '</label>' +
                    '<label id="cantidadlinea' + this.id + '">' + this.cantidad + '</label>' + '<label id="unidadlinea' + this.id + '">' + this.unidad_medida + '</label>' + '<label id="prod_idlinea' + this.id + '">' + this.prod_id + '</label>' +'</div>');
            });
        });
    });
    $('#bodega_destino').change(function() {
        $('#nivel_destino').attr({
            "max": $('#nivellineades' + $("#bodega_destino").val()).text()
        });
        $('#nivelMax').text('Máximo: ' + $('#nivellineades' + $("#bodega_destino").val()).text());
        $('#seccion_destino').attr({
            "max": $('#seccionlineades' + $("#bodega_destino").val()).text()
        });
        $('#seccionMax').text('Máximo: ' + $('#seccionlineades' + $("#bodega_destino").val()).text());
    });
    //Cuando es una recepcion de productos del proveedor trae el catalogo de productos
    function actualizarProductosGeneral() {
        $('#producto_bodega_origen').empty();
        $.getJSON("../obtenerRecursos").done(function (data) {
                data = $.parseJSON(data);
                var pbOrig = $("#producto_bodega_origen");
                pbOrig.append($("<option />").val("").text("Seleccione producto a recibir..."));
                $(data).each(function () {
                    pbOrig.append($('<option><div><label id="nivellinea">' + this.id + '</label><label id="seccionlinea">' + "0" + '</label>' +
                        '<label id="cantidadlinea">' + 0 + '</label></div>' +
                        '</option>').val(this.id).text(this.nombre + ' - ' +  this.descripcion));
                    pbOrig.prepend('<div><label id="nivellinea' + this.id + '">' + "0" + '</label><label id="seccionlinea' + this.id + '">' + "0" + '</label>' +
                        '<label id="cantidadlinea' + this.id + '">' + "0" + '</label>' + '<label id="unidadlinea' + this.id + '">' + this.unidad_medida + '</label>' + '<label id="prod_idlinea' + this.id + '">' + this.id + '</label>' + '</div>');
                });
        });
    }
    //Segun el tipo de transaccion actualiza las listas de bodega origen y destino
    function actualizarBodegasporTipo() {
        $.getJSON("../obtenerBodegas/").done(function (data) {
            data =  $.parseJSON(data);
            var bodega = $("#bodega_origen");
            var bodega_destino = $("#bodega_destino");
            $('#bodega_origen').empty();
            $('#bodega_destino').empty();
            bodega.append($("<option />").val("").text("Seleccione origen..."));
            bodega_destino.append($("<option />").val("").text("Seleccione destino..."));
            console.log("Filtrando bodegas .. " + $("#tipo option[value='" + $('#tipo').val() + "']").text());
            $(data).each(function() {
                //Filtra las bodegas destino de acuerdo al tipo de transaccion
                if ($("#tipo option[value='" + $('#tipo').val() + "']").text() == 'Traslado a experimento') {
                    if (this.tipo_bodega == 'Experimento') {
                        bodega_destino.append($("<option />").val(this.id).text(this.nombre));
                        bodega_destino.prepend('<div><label id="nivellineades' + this.id + '">' + this.niveles + '</label><label id="seccionlineades' + this.id + '">' + this.secciones + '</label>');
                    }
                    if (this.tipo_bodega != 'Externa' &&  this.tipo_bodega != 'Desperdicio') {
                        bodega.append($('<option />').val(this.id).text(this.nombre));
                    }
                }
                else {
                    if ($("#tipo option[value='" + $('#tipo').val() + "']").text() == 'Mover por perdida o desperdicio') {
                        if (this.tipo_bodega == 'Desperdicio') {
                            bodega_destino.append($("<option />").val(this.id).text(this.nombre));
                            bodega_destino.prepend('<div><label id="nivellineades' + this.id + '">' + this.niveles + '</label><label id="seccionlineades' + this.id + '">' + this.secciones + '</label>');
                        }
                        if (this.tipo_bodega != 'Externa' &&  this.tipo_bodega != 'Desperdicio') {
                            bodega.append($('<option />').val(this.id).text(this.nombre));
                        }
                    }
                    else {
                        if ($("#tipo option[value='" + $('#tipo').val() + "']").text() == 'Devolucion a proveedor') {
                            if (this.tipo_bodega == 'Externa') {
                                bodega_destino.append($("<option />").val(this.id).text(this.nombre));
                                bodega_destino.prepend('<div><label id="nivellineades' + this.id + '">' + this.niveles + '</label><label id="seccionlineades' + this.id + '">' + this.secciones + '</label>');
                            }
                            if (this.tipo_bodega != 'Externa') {
                                bodega.append($('<option />').val(this.id).text(this.nombre));
                            }
                        }
                        else {
                            if ($("#tipo option[value='" + $('#tipo').val() + "']").text() == 'Recepcion de Proveedor') {
                                if (this.tipo_bodega != 'Externa' && this.tipo_bodega != 'Desperdicio' ) {
                                    bodega_destino.append($("<option />").val(this.id).text(this.nombre));
                                    bodega_destino.prepend('<div><label id="nivellineades' + this.id + '">' + this.niveles + '</label><label id="seccionlineades' + this.id + '">' + this.secciones + '</label>');
                                }
                                if (this.tipo_bodega == 'Externa') {
                                    bodega.append($('<option />').val(this.id).text(this.nombre));
                                }
                            }
                            else {
                                if ($("#tipo option[value='" + $('#tipo').val() + "']").text() == 'Paso entre bodegas') {
                                    if (this.tipo_bodega != 'Externa' && this.tipo_bodega != 'Desperdicio' && this.tipo_bodega != 'Experimento' ) {
                                        bodega_destino.append($("<option />").val(this.id).text(this.nombre));
                                        bodega_destino.prepend('<div><label id="nivellineades' + this.id + '">' + this.niveles + '</label><label id="seccionlineades' + this.id + '">' + this.secciones + '</label>');
                                    }
                                    if (this.tipo_bodega != 'Externa') {
                                        bodega.append($('<option />').val(this.id).text(this.nombre));
                                    }
                                }
                                else {
                                    bodega_destino.append($("<option />").val(this.id).text(this.nombre));
                                    bodega_destino.prepend('<div><label id="nivellineades' + this.id + '">' + this.niveles + '</label><label id="seccionlineades' + this.id + '">' + this.secciones + '</label>');
                                    bodega.append($('<option />').val(this.id).text(this.nombre));
                                }
                            }
                        }
                    }
                }
                if (this.tipo_bodega == 'Externa') {
                    $('#bodega_externa_entrada').val(this.id);
                }
                if (this.tipo_bodega == 'Desperdicio') {
                    $('#bodega_desperdicios').val(this.id);
                }
            });
            if ($("#tipo option[value='" + $('#tipo').val() + "']").text() == 'Recepcion de Proveedor') {
                $('#bodega_origen').val($('#bodega_externa_entrada').val());
                $('#bodega_origen').prop('disabled', true);
                actualizarProductosGeneral();
            }
        });
    }
    //Cuando el tipo de transaccion cambia refresca parametros de diabled, limpia lista de productos
    $('#tipo').change(function () {
        $('#bodega_origen').prop('disabled', false);
        $('#producto_bodega_origen').empty();
        actualizarBodegasporTipo();
    });
    // Una vez seleccionado un producto actualiza los valores de nivel y seccion
    $('#producto_bodega_origen').change(function () {
        $('#nivel_origen').text($('#nivellinea' + $("#producto_bodega_origen").val()).text());
        $('#seccion_origen').text($('#seccionlinea' + $("#producto_bodega_origen").val()).text());
        $('#prod_id').val($('#prod_idlinea' + $("#producto_bodega_origen").val()).text());
        if ($("#tipo option[value='" + $('#tipo').val() + "']").text() != 'Recepcion de Proveedor') {
            $('#cantidad').attr({
                "max": $('#cantidadlinea' + $("#producto_bodega_origen").val()).text()
            });
            $('#nivel_origen').show();
            $('#seccion_origen').show();
            $('#nivel_origenlb').show();
            $('#seccion_origenlb').show();
            $('#cantidad').val($('#cantidadlinea' + $("#producto_bodega_origen").val()).text());
        }
        else {
            $('#nivel_origenlb').hide();
            $('#seccion_origenlb').hide();
            $('#nivel_origen').hide();
            $('#seccion_origen').hide();
        }
        $('#unidad_medida').text($('#unidadlinea' + $("#producto_bodega_origen").val()).text());

        $.getJSON("../obtenerBodega",{
                            id_bodega: $('#bodega_origen').val()
                         }).done(function (data) {
            if (data) {
                bodega1 = $.parseJSON(data.bodega);
                if (bodega1) {
                    $.getJSON("../obtenerTipo", {
                        id_tipo: bodega1.fields.unidad_medida
                    }).done(function (data1) {
                        if (data1) {
                            tipo1 = $.parseJSON(data1.tipo);
                            $('#unidad_preferencia_bodega').text(tipo1.fields.nombre);
                            //Llamar convertidor
                            var parametros = {
                                cantidad: $('#cantidad').val(),
                                medidaOrigen: $('#unidad_medida').text(),
                                medidaDestino: $('#unidad_preferencia_bodega').text()
                            };
                            $.getJSON("../convertirUnidad", parametros).done(function (data2) {
                                $('#conversion').val(data2.conversion);
                            });
                        }
                    });
                }
            }
        });
    });
    // Coloca el encabezado y pie de pagina
    (function(){
        try {
            $("#modal2").load("../modal_or");
            $("#encabezado").load("../encabezado");
            $("#pie").load("../pie"); demo.actualizarNotificaciones();
            demo.actualizarNotificaciones();
            var niveles = $( "#niveles" ).spinner();
            var secciones = $( "#secciones" ).spinner();
            var temperaturaMinima = $( "#temperaturaMinima" ).spinner({
              step: 0.01,
              numberFormat: "n"
            });
            var temperaturaMedia = $( "#temperaturaMedia" ).spinner({
              step: 0.01,
              numberFormat: "n"
            });
        }catch (exc){
            alert(exc.message);
        }
    })();
    $("#mensaje").hide();
    $("#mensajeSuc").hide();
    $('form').submit(function (e) {
        var formData = new FormData($("#transaccion")[0]);
            v_valida = validarForma();
            if (v_valida) {
                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: JSON.stringify({
                            tipo: $('#tipo').val(),
                            bodega_origen: $('#bodega_origen').val(),
                            nivel_origen: $('#nivel_origen').text(),
                            seccion_origen: $('#seccion_origen').text(),
                            cantidad: $('#cantidad').val(),
                            unidad_medida: $('#unidad_medida').text(),
                            bodega_destino: $('#bodega_destino').val(),
                            nivel_destino: $('#nivel_destino').val(),
                            seccion_destino: $('#seccion_destino').val(),
                            producto_bodega_origen: $('#producto_bodega_origen').val(),
                            producto: $('#prod_id').val(),
                            comentarios: $('#comentarios').val()
                        }
                    ),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data && data.mensaje && data.mensaje != "ok") {
                            $("#mensaje1").text(data.mensaje);
                            $("#mensaje").show();
                        } else {
                            console.log(data.tran[0].fields);
                            window.scrollTo(0,0);
                            $("#mensaje1Suc").val(data.tran[0].pk).text("Transacción guardada con el código: " + data.tran[0].pk);
                            $("#mensajeSuc").show();
                            $("#btnsubmit").prop('disabled', true);
                            if (Object.keys(data).length > 0)
                            {
                                nivel_actual = $.parseJSON(data.res0);
                                punto_pedido = $.parseJSON(data.res1);
                                message = '<p style="text-align: justify">El recurso actual tiene un <b>nivel disponible</b> de '+ nivel_actual+ ' y un <b>punto de pedido (mínimo)</b> de '+ punto_pedido + ' por lo que se recomienda generar una orden de reposición. Desea generarla automáticamente?</p> <button class="btn btn-success" onclick="demo.crearOrdenReapro(null)"><span class="pe-7s-check"></span> Si</button><button style="margin-left: 80px !important;" class="btn btn-danger" onclick="demo.posponerOrdenRepo(null)"><span class="pe-7s-close-circle"></span> No</button>';
                                demo.showNotification('bottom','center', message)
                            }
                        }
                    },
                    failure: function () {
                        alert("Error al grabar la transaccion");
                    },
                });
                e.preventDefault();
                return true;
            }
            else {
                return false;
            }
    });
    function validarForma() {
        if ($('#bodega_destino').val() == "") {
            alert("La bodega destino debe ser seleccionada");
            return false;
        }
        if ($('#nivel_destino').val() == "" || $('#nivel_destino').val() == 0 ||
            $('#seccion_destino').val() == "" || $('#seccion_destino').val() == 0 ||
            $('#cantidad').val() == "" || $('#nivel_destino').val() == 0
        ) {
            alert("Revisar los campos de: cantidad, nivel y seccion destino, no pueden ser nulos o cero ");
            return false;
        }
        if ($('#nivel_destino').val() > $('#nivel_destino').attr('max') || $('#nivel_destino').val() < 0) {
            alert("Revisar los campos de: El nivel no puede ser superior a la capacidad de la bodega");
            return false;
        }
        if ($('#seccion_destino').val() > $('#seccion_destino').attr('max') || $('#seccion_destino').val() < 0) {
            alert("Revisar los campos de: La sección no puede ser superior a la capacidad de la bodega");
            return false;
        }
        if ($("#tipo option[value='" + $('#tipo').val() + "']").text() == 'Mover por perdida o desperdicio' && $('#comentarios').val() == "" ) {
            alert("Para registrar desperdicios por favor actualice el campo de comentarios con el motivo ");
            return false;
        }
        return true;
    }
    </script>
</html>