<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>.:Laboratorio Científico:.</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../images/struc.css" media="screen" />
</head>
<body>
<div id="wrapper">
    <div id="encabezado"></div>
    <div id="content">
x<br />
<h2 id="hCrear" align="center">Transacción de Inventario</h2>
<h2 id="hEditar" align="center" style="display: none;">Transacción de Inventario</h2>
<h2 align="center"></h2>
<form id="transaccion" action="../crearTransaccion/" method="post">
    <input id="id_bodega_guardada" name="id_bodega_guardada" type="hidden" />
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <div id="mensaje" class="alert alert-danger">
                <label id="mensaje1"></label>
            </div>
            <div id="mensajeSuc" class="alert alert-success">
                <label id="mensaje1Suc"></label>
            </div>
            <label >Tipo</label>
            <select id="tipo" name="tipo" class="selectpicker form-control" required>
            </select>
            <br>
            <label >Bodega Origen</label>
            <select id="bodega_origen" name="bodega_origen" class="selectpicker form-control" required>
            </select>
            <br>
            <input id="bodega_externa_entrada" hidden/>
            <input id="bodega_salida" hidden/>
            <input id="bodega_desperdicios" hidden/>

            <label>Producto a mover</label>
            <select id="producto_bodega_origen" name="producto_bodega_origen" class="selectpicker form-control" required>
            </select>
            <br>

            <label >Bodega Destino</label>
            <select id="bodega_destino" name="bodega_destino" class="selectpicker form-control" required>
            </select>
            <br>

            <label>Ubicación en bodegas: </label>
            <div class="container">
                <div id="ubicacion" class="col-lg-3 well">
                    <label id="nivel_origenlb">Nivel origen:</label>
                    <label id="nivel_origen" type="text"></label>
                    <br>
                    <label id="seccion_origenlb">Sección origen:</label>
                    <label id="seccion_origen"></label>
                    <br>
                    <label id="cantlabel">Cantidad a mover: </label>
                    <input id="cantidad" type="number" min="0" max="5"/>  <label id="unidad_medida"></label>
                    <input id="prod_id" hidden/>
                    <label id="cantlabel">Unidad Preferencia Bodega: </label>
                    <br>
                    <input id="conversion" type="text" readonly/><label id="unidad_preferencia_bodega" type="text"></label>
                    <br>
                    <br>

                </div>
                <div id="ubicacion"  style="position: relative" align="rigth" class="col-lg-4 well">
                    <label>Nivel destino:</label>
                    <input id="nivel_destino" type="number" maxlength="1" min="0" max="10"></input><label id="nivelMax"></label>
                    <br>
                    <label>Sección destino:</label>
                    <input id="seccion_destino" type="number" maxlength="1" min="0" max="10"></input><label id="seccionMax"></label>
                    <br>
                    <br>
                </div>

            </div>

            <label>Comentarios</label>
            <input id="comentarios" name="comentarios" type="text" class="form-control input-md"/>
            <br/>
            <input id="btnsubmit" type="submit" value="Ejecutar" class="btn btn-primary"/>
            <a id="btNuevaTrx" href="../transaccion" class="btn btn-primary" role="button">Nueva</a>
            <a href="../transacciones">Cancelar</a>
        </div>
    </div>
</form>
<br>
</div>
    <div id="pie"></div>
</div>
</body>

<script>
    //Llena la lista de valores de tipos de transaccion
    (function(){
        $.getJSON("../obtenerTipos/?grupo=TIPOTRX").done(function (data) {
            data =  $.parseJSON(data);
            var tipo = $("#tipo");
            tipo.append($("<option />").val("").text("Seleccione Tipo..."));
            $(data).each(function() {
                tipo.append($("<option />").val(this.pk).text(this.fields.nombre));
            });
        });
        //Obtiene los usuarios
        $.getJSON("../obtenerUsuarios").done(function (data) {
            data =  $.parseJSON(data);
            var responsable = $("#responsable");
            responsable.append($("<option />").val("").text("Seleccione Responsable..."));
            $(data).each(function() {
                responsable.append($("<option />").val(this.pk).text(this.fields.first_name+' '+this.fields.last_name));
            });
        });
    })();
    //Cuando cambia la bodega origen resetea los productos en la lista de productos
    $('#bodega_origen').change(function() {
        var bodega = $("#bodega_origen option:selected").val();
        $('#producto_bodega_origen').empty();
        // Si trae los productos existentes en la bodega seleccionada
        $.getJSON("../obtenerProductosBodega/?bodega=" + bodega).done(function (data) {
            data = $.parseJSON(data);
            var pbOrig = $("#producto_bodega_origen");
            pbOrig.append($("<option />").val("").text("Seleccione producto a mover..."));
            $(data).each(function () {
                pbOrig.append($('<option><div><label id="nivellinea">' + this.nivel + '</label><label id="seccionlinea">' + this.seccion + '</label>' +
                    '<label id="cantidadlinea">' + this.cantidad + '</label></div>' +
                    '</option>').val(this.id).text(this.producto + ": cantidad: " + this.cantidad + " " + this.unidad_medida + " nivel: " + this.nivel + " seccion: " + this.seccion));
                pbOrig.prepend('<div><label id="nivellinea' + this.id + '">' + this.nivel + '</label><label id="seccionlinea' + this.id + '">' + this.seccion + '</label>' +
                    '<label id="cantidadlinea' + this.id + '">' + this.cantidad + '</label>' + '<label id="unidadlinea' + this.id + '">' + this.unidad_medida + '</label>' + '<label id="prod_idlinea' + this.id + '">' + this.prod_id + '</label>' +'</div>');
            });
        });
    });
    $('#bodega_destino').change(function() {
        $('#nivel_destino').attr({
            "max": $('#nivellineades' + $("#bodega_destino").val()).text()
        });
        $('#nivelMax').text('Máximo: ' + $('#nivellineades' + $("#bodega_destino").val()).text());
        $('#seccion_destino').attr({
            "max": $('#seccionlineades' + $("#bodega_destino").val()).text()
        });
        $('#seccionMax').text('Máximo: ' + $('#seccionlineades' + $("#bodega_destino").val()).text());
    });
    //Cuando es una recepcion de productos del proveedor trae el catalogo de productos
    function actualizarProductosGeneral() {
        $('#producto_bodega_origen').empty();
        $.getJSON("../obtenerRecursos").done(function (data) {
                data = $.parseJSON(data);
                var pbOrig = $("#producto_bodega_origen");
                pbOrig.append($("<option />").val("").text("Seleccione producto a recibir..."));
                $(data).each(function () {
                    pbOrig.append($('<option><div><label id="nivellinea">' + this.id + '</label><label id="seccionlinea">' + "0" + '</label>' +
                        '<label id="cantidadlinea">' + 0 + '</label></div>' +
                        '</option>').val(this.id).text(this.nombre + ' - ' +  this.descripcion));
                    pbOrig.prepend('<div><label id="nivellinea' + this.id + '">' + "0" + '</label><label id="seccionlinea' + this.id + '">' + "0" + '</label>' +
                        '<label id="cantidadlinea' + this.id + '">' + "0" + '</label>' + '<label id="unidadlinea' + this.id + '">' + this.unidad_medida + '</label>' + '<label id="prod_idlinea' + this.id + '">' + this.id + '</label>' + '</div>');
                });
        });
    }
    //Segun el tipo de transaccion actualiza las listas de bodega origen y destino
    function actualizarBodegasporTipo() {
        $.getJSON("../obtenerBodegas/").done(function (data) {
            data =  $.parseJSON(data);
            var bodega = $("#bodega_origen");
            var bodega_destino = $("#bodega_destino");
            $('#bodega_origen').empty();
            $('#bodega_destino').empty();
            bodega.append($("<option />").val("").text("Seleccione origen..."));
            bodega_destino.append($("<option />").val("").text("Seleccione destino..."));
            console.log("Filtrando bodegas .. " + $("#tipo option[value='" + $('#tipo').val() + "']").text());
            $(data).each(function() {
                //Filtra las bodegas destino de acuerdo al tipo de transaccion
                if ($("#tipo option[value='" + $('#tipo').val() + "']").text() == 'Traslado a experimento') {
                    if (this.tipo_bodega == 'Experimento') {
                        bodega_destino.append($("<option />").val(this.id).text(this.nombre));
                        bodega_destino.prepend('<div><label id="nivellineades' + this.id + '">' + this.niveles + '</label><label id="seccionlineades' + this.id + '">' + this.secciones + '</label>');
                    }
                    if (this.tipo_bodega != 'Externa' &&  this.tipo_bodega != 'Desperdicio') {
                        bodega.append($('<option />').val(this.id).text(this.nombre));
                    }
                }
                else {
                    if ($("#tipo option[value='" + $('#tipo').val() + "']").text() == 'Mover por perdida o desperdicio') {
                        if (this.tipo_bodega == 'Desperdicio') {
                            bodega_destino.append($("<option />").val(this.id).text(this.nombre));
                            bodega_destino.prepend('<div><label id="nivellineades' + this.id + '">' + this.niveles + '</label><label id="seccionlineades' + this.id + '">' + this.secciones + '</label>');
                        }
                        if (this.tipo_bodega != 'Externa' &&  this.tipo_bodega != 'Desperdicio') {
                            bodega.append($('<option />').val(this.id).text(this.nombre));
                        }
                    }
                    else {
                        if ($("#tipo option[value='" + $('#tipo').val() + "']").text() == 'Devolucion a proveedor') {
                            if (this.tipo_bodega == 'Externa') {
                                bodega_destino.append($("<option />").val(this.id).text(this.nombre));
                                bodega_destino.prepend('<div><label id="nivellineades' + this.id + '">' + this.niveles + '</label><label id="seccionlineades' + this.id + '">' + this.secciones + '</label>');
                            }
                            if (this.tipo_bodega != 'Externa') {
                                bodega.append($('<option />').val(this.id).text(this.nombre));
                            }
                        }
                        else {
                            if ($("#tipo option[value='" + $('#tipo').val() + "']").text() == 'Recepcion de Proveedor') {
                                if (this.tipo_bodega != 'Externa' && this.tipo_bodega != 'Desperdicio' ) {
                                    bodega_destino.append($("<option />").val(this.id).text(this.nombre));
                                    bodega_destino.prepend('<div><label id="nivellineades' + this.id + '">' + this.niveles + '</label><label id="seccionlineades' + this.id + '">' + this.secciones + '</label>');
                                }
                                if (this.tipo_bodega == 'Externa') {
                                    bodega.append($('<option />').val(this.id).text(this.nombre));
                                }
                            }
                            else {
                                if ($("#tipo option[value='" + $('#tipo').val() + "']").text() == 'Paso entre bodegas') {
                                    if (this.tipo_bodega != 'Externa' && this.tipo_bodega != 'Desperdicio' && this.tipo_bodega != 'Experimento' ) {
                                        bodega_destino.append($("<option />").val(this.id).text(this.nombre));
                                        bodega_destino.prepend('<div><label id="nivellineades' + this.id + '">' + this.niveles + '</label><label id="seccionlineades' + this.id + '">' + this.secciones + '</label>');
                                    }
                                    if (this.tipo_bodega != 'Externa') {
                                        bodega.append($('<option />').val(this.id).text(this.nombre));
                                    }
                                }
                                else {
                                    bodega_destino.append($("<option />").val(this.id).text(this.nombre));
                                    bodega_destino.prepend('<div><label id="nivellineades' + this.id + '">' + this.niveles + '</label><label id="seccionlineades' + this.id + '">' + this.secciones + '</label>');
                                    bodega.append($('<option />').val(this.id).text(this.nombre));
                                }
                            }
                        }
                    }
                }
                if (this.tipo_bodega == 'Externa') {
                    $('#bodega_externa_entrada').val(this.id);
                }
                if (this.tipo_bodega == 'Desperdicio') {
                    $('#bodega_desperdicios').val(this.id);
                }
            });
            if ($("#tipo option[value='" + $('#tipo').val() + "']").text() == 'Recepcion de Proveedor') {
                $('#bodega_origen').val($('#bodega_externa_entrada').val());
                $('#bodega_origen').prop('disabled', true);
                actualizarProductosGeneral();
            }
        });
    }
    //Cuando el tipo de transaccion cambia refresca parametros de diabled, limpia lista de productos
    $('#tipo').change(function () {
        $('#bodega_origen').prop('disabled', false);
        $('#producto_bodega_origen').empty();
        actualizarBodegasporTipo();
    });
    // Una vez seleccionado un producto actualiza los valores de nivel y seccion
    $('#producto_bodega_origen').change(function () {
        $('#nivel_origen').text($('#nivellinea' + $("#producto_bodega_origen").val()).text());
        $('#seccion_origen').text($('#seccionlinea' + $("#producto_bodega_origen").val()).text());
        $('#prod_id').val($('#prod_idlinea' + $("#producto_bodega_origen").val()).text());
        if ($("#tipo option[value='" + $('#tipo').val() + "']").text() != 'Recepcion de Proveedor') {
            $('#cantidad').attr({
                "max": $('#cantidadlinea' + $("#producto_bodega_origen").val()).text()
            });
            $('#nivel_origen').show();
            $('#seccion_origen').show();
            $('#nivel_origenlb').show();
            $('#seccion_origenlb').show();
            $('#cantidad').val($('#cantidadlinea' + $("#producto_bodega_origen").val()).text());
        }
        else {
            $('#nivel_origenlb').hide();
            $('#seccion_origenlb').hide();
            $('#nivel_origen').hide();
            $('#seccion_origen').hide();
        }
        $('#unidad_medida').text($('#unidadlinea' + $("#producto_bodega_origen").val()).text());

        $.getJSON("../obtenerBodega",{
                            id_bodega: $('#bodega_origen').val()
                         }).done(function (data) {
            if (data) {
                bodega1 = $.parseJSON(data.bodega);
                if (bodega1) {
                    $.getJSON("../obtenerTipo", {
                        id_tipo: bodega1.fields.unidad_medida
                    }).done(function (data1) {
                        if (data1) {
                            tipo1 = $.parseJSON(data1.tipo);
                            $('#unidad_preferencia_bodega').text(tipo1.fields.nombre);
                            //Llamar convertidor
                            var parametros = {
                                cantidad: $('#cantidad').val(),
                                medidaOrigen: $('#unidad_medida').text(),
                                medidaDestino: $('#unidad_preferencia_bodega').text()
                            };
                            $.getJSON("../convertirUnidad", parametros).done(function (data2) {
                                $('#conversion').val(data2.conversion);
                            });
                        }
                    });
                }
            }
        });
    });
    // Coloca el encabezado y pie de pagina
    (function(){
        try {
            $("#encabezado").load("../encabezado");
            $("#pie").load("../pie");
            var niveles = $( "#niveles" ).spinner();
            var secciones = $( "#secciones" ).spinner();
            var temperaturaMinima = $( "#temperaturaMinima" ).spinner({
              step: 0.01,
              numberFormat: "n"
            });
            var temperaturaMedia = $( "#temperaturaMedia" ).spinner({
              step: 0.01,
              numberFormat: "n"
            });
        }catch (exc){
            alert(exc.message);
        }
    })();
    $("#mensaje").hide();
    $("#mensajeSuc").hide();
    $('form').submit(function (e) {
        var formData = new FormData($("#transaccion")[0]);
            v_valida = validarForma();
            if (v_valida) {
                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: JSON.stringify({
                            tipo: $('#tipo').val(),
                            bodega_origen: $('#bodega_origen').val(),
                            nivel_origen: $('#nivel_origen').text(),
                            seccion_origen: $('#seccion_origen').text(),
                            cantidad: $('#cantidad').val(),
                            unidad_medida: $('#unidad_medida').text(),
                            bodega_destino: $('#bodega_destino').val(),
                            nivel_destino: $('#nivel_destino').val(),
                            seccion_destino: $('#seccion_destino').val(),
                            producto_bodega_origen: $('#producto_bodega_origen').val(),
                            producto: $('#prod_id').val(),
                            comentarios: $('#comentarios').val()
                        }
                    ),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data && data.mensaje && data.mensaje != "ok") {
                            $("#mensaje1").text(data.mensaje);
                            $("#mensaje").show();
                        } else {
                            $("#mensaje1Suc").val(data[0].pk).text("Transacción guardada con el codigo: " + data[0].pk);
                            $("#mensajeSuc").show();
                            $("#btnsubmit").prop('disabled', true);
                        }
                    },
                    failure: function () {
                        alert("Error al grabar la transaccion");
                    },
                });
                e.preventDefault();
                return true;
            }
            else {
                return false;
            }
    });
    function validarForma() {
        if ($('#bodega_destino').val() == "") {
            alert("La bodega destino debe ser seleccionada")
            return false;
        }
        if ($('#nivel_destino').val() == "" || $('#nivel_destino').val() == 0 ||
            $('#seccion_destino').val() == "" || $('#seccion_destino').val() == 0 ||
            $('#cantidad').val() == "" || $('#nivel_destino').val() == 0
        ) {
            alert("Revisar los campos de: cantidad, nivel y seccion destino, no pueden ser nulos o cero ")
            return false;
        }
        if ($('#nivel_destino').val() > $('#nivel_destino').attr('max') || $('#nivel_destino').val() < 0) {
            alert("Revisar los campos de: El nivel no puede ser superior a la capacidad de la bodega")
            return false;
        }
        if ($('#seccion_destino').val() > $('#seccion_destino').attr('max') || $('#seccion_destino').val() < 0) {
            alert("Revisar los campos de: La sección no puede ser superior a la capacidad de la bodega")
            return false;
        }
        if ($("#tipo option[value='" + $('#tipo').val() + "']").text() == 'Mover por perdida o desperdicio' && $('#comentarios').val() == "" ) {
            alert("Para registrar desperdicios por favor actualice el campo de comentarios con el motivo ")
            return false;
        }
        return true;
    }
    </script>
</html>