<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>

            <div class="logo">
                <a href="/laboratorio" class="simple-text">
                    LabStock
                </a>
            </div>

            <ul class="nav">
                <li id="rec">
                    <a href="/laboratorio/verRecursos">
                        <i class="pe-7s-science"></i>
                        <p>Recursos</p>
                    </a>
                </li>
                <li id="bod">
                    <a href="/laboratorio/bodegas">
                        <i class="pe-7s-box1"></i>
                        <p>Bodegas</p>
                    </a>
                </li>
                <li id="exp">
                    <a href="/laboratorio/experimentos">
                        <i class="pe-7s-graph3"></i>
                        <p>Insumos Experimento</p>
                    </a>
                </li>
                <li id="tran">
                    <a href="/laboratorio/transacciones">
                        <i class="pe-7s-note2"></i>
                        <p>Transacciones</p>
                    </a>
                </li>
                <li id="bus">
                    <a href="/laboratorio/verproductobusqueda">
                        <i class="pe-7s-map-marker"></i>
                        <p>Localización Recursos</p>
                    </a>
                </li>
                <li id="op">
                    <a href="/laboratorio/verordenespedido">
                        <i class="pe-7s-note"></i>
                        <p>Ordenar Pedido</p>
                    </a>
                </li>
                <li id="ven">
                    <a href="/laboratorio/vencidos">
                        <i class="pe-7s-bell"></i>
                        <p>Vencidos</p>
                    </a>
                </li>
                <li id="conteo">
                    <a href="/laboratorio/verconteosabc">
                        <i class="pe-7s-pen"></i>
                        <p>Conteos ABC</p>
                    </a>
                </li>
            </ul>
</body>

<script>
    (function () {
        url = $(location).attr('href');
        if(url.includes("Insumo") || url.includes("Recurso"))
        {
            $("#rec").attr('class', 'active');
        }
        else if(url.includes("bodega"))
        {
            $("#bod").attr('class', 'active');
        }
        else if(url.includes("experimentos"))
        {
            $("#exp").attr('class', 'active');
        }
        else if(url.includes("transaccion"))
        {
            $("#tran").attr('class', 'active');
        }
        else if(url.includes("busqueda"))
        {
            $("#bus").attr('class', 'active');
        }
        else if(url.includes("ordenpedido"))
        {
            $("#op").attr('class', 'active');
        }
        else if(url.includes("vencidos"))
        {
            $("#ven").attr('class', 'active');
        }
        else if(url.includes("conteo"))
        {
            $("#conteo").attr('class', 'active');
        }
    })();

</script>
</html>