<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <title>.:Laboratorio Científico:.</title>
  <!-- Bootstrap core CSS     -->
  <link href="../../../images/assets/css/bootstrap.min.css" rel="stylesheet">
  <!-- Animation library for notifications   -->
  <link href="../../../images/assets/css/animate.min.css" rel="stylesheet">
  <!--  Light Bootstrap Table core CSS    -->
  <link href="../../../images/assets/css/light-bootstrap-dashboard.css" rel="stylesheet">
  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="../../../images/assets/css/demo.css" rel="stylesheet">
  <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
  <link href="../../../images/assets/css/pe-icon-7-stroke.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
</head>
<body>
<div id="wrapper">
    <div class="sidebar" data-color="blue" data-image="../../../images/assets/img/sidebar-4.jpg" style="position: fixed">
      <div class="sidebar-wrapper" style="position: fixed">
        <div id="encabezado"></div>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
          <div class="navbar-header"> <a class="navbar-brand" href="#">Profile</a> </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li> <a href="#">
                                Log out
                            </a> </li>
            </ul>
          </div>
        </div>
      </nav>
        <br>
    <div id="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="header">
                  <h4 class="title">Insumos por Experimento y Asistente</h4>
                    <p class="category">Lista de experimento</p>
                </div>
                    <form id="formBodegas" style="padding: 20px">
                    <div style="text-align: center;">
                        <a id="btnExperimentos" href="" class="btn btn-primary" role="button">Experimentos</a>
                        <a id="btnProtocolos" href="" class="btn btn-primary" role="button">Protocolos</a>
                        <a id="btnProductos" href="" class="btn btn-primary" role="button">Productos</a>
                        <a href="../">Cancelar</a>
                    </div>
                            <table id="tabla" class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%"></table>
                            <table id="tabla_protocolos" class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%"></table>
                            <table id="tabla_insumos" class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%"></table>
                    </form>
                </div>
            </div>
          </div>
        </div>
    </div>
        <div id="pie"></div>
    </div>
</div>
</body>
<!--  Checkbox, Radio & Switch Plugins -->
  <script src="../../../images/assets/js/bootstrap-checkbox-radio-switch.js"></script>
  <!--  Charts Plugin -->
  <script src="../../../images/assets/js/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../../../images/assets/js/bootstrap-notify.js"></script>
  <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
  <script src="../../../images/assets/js/light-bootstrap-dashboard.js"></script>

<script>
    (function(){
        try {
            $("#encabezado").load("../encabezado");
            $("#pie").load("../pie");
        }catch (exc){
            alert(exc.message);
        }
    })();

    /*$(function(){
    });*/
    $(function () {

        $('#btnExperimentos').click(function (event) {
            event.preventDefault();
            $('#experimentos').show();
            $('#protocolos').hide();
            $('#insumos').hide();
        });
        $('#btnProtocolos').click(function (event) {
            event.preventDefault();
            $('#experimentos').hide();
            $('#protocolos').show();
            $('#insumos').hide();
        });
        $('#btnProductos').click(function (event) {
            event.preventDefault();
            $('#experimentos').hide();
            $('#protocolos').hide();
            $('#insumos').show();
        });
        $.getJSON("../obtenerExperimentos").done(function (data) {
            console.log(data)
            datos =  data;
            $('#tabla').DataTable( {
                bProcessing: true,
                "scrollX": true,
                aaData: datos,
                aoColumns: [
                    { mData: "experimento.pk" , sTitle: "Id"},
                    { mData: "experimento.fields.codigo" , sTitle: "Código"},
                    { mData: "experimento.fields.estado" , sTitle: "Estado"},
                    { mData: "asignado.username" , sTitle: "Responsable"}
                ],
            } );
            $('#tabla tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                    // $('#tabla_protocolos').dataTable().removeClass('selected');
                    $('#insumos').hide()
                    $('#protocolos').hide();
                }
                else {
                    $('#tabla').dataTable().$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $('#experimentos').hide();
                    $('#protocolos').show();
                    valor = "../obtenerProtocolosPorExperimento";
                    if (valor.indexOf("codigo")!=-1){
                        valor = valor.split("?")[0];
                    }
                    valor += "?codigo="+$(this).children()[1].innerText;
                    $.getJSON(valor).done(function (data) {
                    console.log(data)
                    datos =  $.parseJSON(data);
                    if($.fn.dataTable.isDataTable('#tabla_protocolos')){
                        $('#tabla_protocolos').dataTable().fnClearTable();
                        $('#tabla_protocolos').dataTable().fnAddData(datos);
                    }else{
                        $('#tabla_protocolos').DataTable( {
                        bProcessing: true,
                        "scrollX": true,
                        aaData: datos,
                        aoColumns: [
                            { mData: "pk" , sTitle: "Id"},
                            { mData: "fields.version" , sTitle: "Versión"},
                            { mData: "fields.nombre" , sTitle: "Nombre"},
                            { mData: "fields.fecha" , sTitle: "Fecha"},
                            { mData: "fields.descripcion" , sTitle: "Descripción"}
                        ],
                    } );

                    }
                        $('#tabla_protocolos tbody').on( 'click', 'tr', function () {
                        if ( $(this).hasClass('selected')) {
                            $(this).removeClass('selected');
                            $('#insumos').hide()
                        }
                        else {
                            $('#tabla_protocolos').dataTable().$('tr.selected').removeClass('selected');
                            $(this).addClass('selected');
                            $('#protocolos').hide();
                            $('#insumos').show();
                            valor = "../obtenerPPPorProtocolo";
                            if (valor.indexOf("id")!=-1){
                                valor = valor.split("?")[0];
                            }
                            valor += "?id="+$(this).children()[0].innerText;
                            $.getJSON(valor).done(function (data) {
                            datos =  [data];
                            if($.fn.dataTable.isDataTable('#tabla_insumos')){
                                    $('#tabla_insumos').dataTable().fnClearTable();
                                    $('#tabla_insumos').dataTable().fnAddData(datos);
                            }else {
                            $('#tabla_insumos').DataTable({
                                        bProcessing: true,
                                        "scrollX": true,
                                        aaData: datos,
                                        aoColumns: [
                                            {mData: "productoprotocolo.pk", sTitle: "Id"},
                                            {mData: "producto.nombre", sTitle: "Nombre"},
                                            {mData: "productoprotocolo.fields.descripcion", sTitle: "Descripción"},
                                            {mData: "productoprotocolo.fields.cantidadUtilizada", sTitle: "Cantidad"}
                                        ],
                                    });
                                }
                            });
                        }
            });
                    });
                }
            });

        });


    });
    </script>
</html>