<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script>
        function enviarForm(){
            $.ajax({
                type: 'POST',
                url: '../login/',
                data: JSON.stringify({
                    username: $('#username').val(),
                    password: $('#password').val()
                }),
                contentType:"application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.mensaje == "ok"){
                        window.location = "../";
                    }else{
                        $('#mensaje1').text(data.mensaje);
                        $('#mensaje').show();
                    }

                },
                failure: function (errMsg) {
                    alert("Hubo un error "+errMsg);
                }
            });
        }
    </script>
</head>
<body>
    <div class="row">
        <div class="col-md-4 col-sm-offset-4">
            <div class="page-header">
                <h2>Login</h2>
            </div>
            <div id="mensaje" class="alert alert-danger">
                <label id="mensaje1"></label>
            </div>
            <form method="post" action="">
                <div class="form-group">
                    <label class="control-label" for="username">Usuario</label>
                    <input type="text" id="username" name="username" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Contraseña</label>
                    <input type="password" id="password" name="password" class="form-control" required/>
                </div>
                <button type="button" class="btn btn-primary" onclick="enviarForm();">Iniciar</button>
                <a href="../" class="btn btn-primary" >Cancelar</a>
            </form>
        </div>
    </div>
    <script>
        $('#mensaje').hide();
    </script>
</body>
</html>