<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta name="viewport" content="width=device-width">
  <title>.:Laboratorio Científico:.</title>
  <!-- Bootstrap core CSS     -->
  <link href="../../../images/assets/css/bootstrap.min.css" rel="stylesheet">
  <!-- Animation library for notifications   -->
  <link href="../../../images/assets/css/animate.min.css" rel="stylesheet">
  <!--  Light Bootstrap Table core CSS    -->
  <link href="../../../images/assets/css/light-bootstrap-dashboard.css" rel="stylesheet">
  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="../../../images/assets/css/demo.css" rel="stylesheet">
  <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
  <link href="../../../images/assets/css/pe-icon-7-stroke.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
  <div id="wrapper">
    <div class="sidebar" data-color="blue" data-image="../../../images/assets/img/sidebar-4.jpg" style="position: fixed">
      <div class="sidebar-wrapper" style="position: fixed">
        <div id="encabezado"></div>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
          <div class="navbar-header"> <a class="navbar-brand" href="#">Profile</a> </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li> <a href="#">
                                Log out
                            </a> </li>
            </ul>
          </div>
        </div>
      </nav> <br>
      <div id="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="header">
                  <h4 class="title" id="title"></h4>
                  <p class="category">Porcentajes de Uso</p>
                </div>
                <div class="content">
                  <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>
                  <div class="footer">
                    <div class="legend text-gray-dark" id="leyenda"> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card">
                <div class="header">
                  <h4 class="title">Historial de Nivel</h4>
                  <p class="category">Cantidad de Recurso en el tiempo</p>
                </div>
                <div class="content">
                  <div id="chartHours" class="ct-chart"></div><br>
                  <div class="footer">
                    <div class="legend"> <i class="fa fa-circle text-info"></i> Nivel historico de Insumo</div>
                    <hr>
                    <div class="stats" id="stats">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="pie"></div>
    </div>
  </div>
  <!--  Checkbox, Radio & Switch Plugins -->
  <script src="../../../images/assets/js/bootstrap-checkbox-radio-switch.js"></script>
  <!--  Charts Plugin -->
  <script src="../../../images/assets/js/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../../../images/assets/js/bootstrap-notify.js"></script>
  <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
  <script src="../../../images/assets/js/light-bootstrap-dashboard.js"></script>
  <script src="../../../images/assets/js/demo.js"></script>
      <script src="../../../images/assets/js/chartist-plugin-axistitle.js"></script>
  <script>
    (function(){
        try {
            $("#encabezado").load("../encabezado");
            $("#pie").load("../pie");
            url = $(location).attr('href');
            segments = url.split("/");
            param = segments[5];
            $.getJSON("../nivelActual", {'id': param}).done(function (data) {
                if(data)
                {

                    proveedor = $.parseJSON(data.proveedor);
                    perdida = $.parseJSON(data.perdida);
                    experimento = $.parseJSON(data.experimento);
                    devolucion = $.parseJSON(data.devolucion);
                    paso = $.parseJSON(data.paso);
                    demo.proveedor = Math.round(proveedor * 100) / 100
                    demo.perdida = Math.round(perdida * 100) / 100
                    demo.experimento = Math.round(experimento * 100) / 100
                    demo.devolucion = Math.round(devolucion * 100) / 100;
                    demo.paso = Math.round(paso * 100) / 100;
                    demo.initChartDonut();
                    console.log(data.nombre)
                    $("#title").text(data.nombre)
                    $("#leyenda").html("<i class='fa fa-circle text-info'></i>Disponible <b>"+demo.proveedor+"%</b><br><i class='fa fa-circle text-danger'></i>Desperdicio <b>"+demo.perdida+"%</b><br><i class='fa fa-circle text-warning'></i>Uso en Experimentos <b>"+demo.experimento+"%</b><br><i class='fa fa-circle' style='color: #9368E9'></i>Devolución a Proveedor <b>"+demo.devolucion+"%</b><br><i class='fa fa-circle text-muted'></i>Transferido <b>"+demo.paso+"%</b>")
                }
            })
            $.getJSON("../historialNivel", {'id':param}).done(function (data) {
                if(data)
                {
                    demo.labels = data[0]
                    demo.series = data[1]
                    demo.high = data[2]
                    demo.unidad = data[3]
                    demo.initChartLine();
                    $("#stats").html("<i class='fa fa-history'></i>"+data[4])
                }
            })
        }catch (exc){
            alert(exc.message);
        }
    })();
  </script>
</body>

</html>