<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <title>.:Laboratorio Científico:.</title>
  <!-- Bootstrap core CSS     -->
  <link href="../../../images/assets/css/bootstrap.min.css" rel="stylesheet">
  <!-- Animation library for notifications   -->
  <link href="../../../images/assets/css/animate.min.css" rel="stylesheet">
  <!--  Light Bootstrap Table core CSS    -->
  <link href="../../../images/assets/css/light-bootstrap-dashboard.css" rel="stylesheet">
  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="../../../images/assets/css/demo.css" rel="stylesheet">
  <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
  <link href="../../../images/assets/css/pe-icon-7-stroke.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <div id="wrapper">
    <div class="sidebar" data-color="blue" data-image="../../../images/assets/img/sidebar-4.jpg" style="position: fixed">
      <div class="sidebar-wrapper" style="position: fixed">
        <div id="encabezado"></div>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
          <div class="navbar-header"> <a class="navbar-brand" href="#">Profile</a> </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li> <a href="#">
                                Log out
                            </a> </li>
            </ul>
          </div>
        </div>
      </nav>
        <br>
    <div id="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="header">
                  <h4 class="title">Recursos</h4>
                    <p class="category">Porcentaje de Nivel Actual</p>
                </div>
                    <div class="content">
                        <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>
                            <div class="footer">
                                <div class="legend">
                                    <i class="fa fa-circle text-info"></i>Disponible
                                    <i class="fa fa-circle text-danger"></i>En Uso
                                </div>
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                                </div>
                            </div>
                    </div>
                </div>
            </div>
              <div class="col-md-8">
                  <div class="card">
                      <div class="header">
                          <h4 class="title">Users Behavior</h4>
                          <p class="category">24 Hours performance</p>
                      </div>
                      <div class="content">
                          <div id="chartHours" class="ct-chart"></div>
                          <div class="footer">
                              <div class="legend">
                                  <i class="fa fa-circle text-info"></i> Open
                                  <i class="fa fa-circle text-danger"></i> Click
                                  <i class="fa fa-circle text-warning"></i> Click Second Time
                              </div>
                              <hr>
                              <div class="stats">
                                  <i class="fa fa-history"></i> Updated 3 minutes ago
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
        <div id="pie"></div>
    </div>
</div>
</body>
<!--  Checkbox, Radio & Switch Plugins -->
  <script src="../../../images/assets/js/bootstrap-checkbox-radio-switch.js"></script>
  <!--  Charts Plugin -->
  <script src="../../../images/assets/js/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../../../images/assets/js/bootstrap-notify.js"></script>
  <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
  <script src="../../../images/assets/js/light-bootstrap-dashboard.js"></script>
  <script src="../../../images/assets/js/demo.js"></script>
<script>
    (function(){
        try {
            $("#encabezado").load("../encabezado");
            $("#pie").load("../pie");
            url = $(location).attr('href');
            segments = url.split("/");
            param = segments[5];
            $.getJSON("../nivelActual", {'id': param}).done(function (data) {
                if(data)
                {

                    disponible = $.parseJSON(data.disponible)
                    enUso = $.parseJSON(data.enUso)
                    console.log(disponible)
                    console.log(enUso)
                    demo.disponible = disponible
                    demo.enUso = enUso
                    demo.initChartDonut();
                }
            })
        }catch (exc){
            alert(exc.message);
        }
    })();
</script>
</html>