<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <title>.:Laboratorio Científico:.</title>
    <!-- Bootstrap core CSS     -->
    <link href="../../../images/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Animation library for notifications   -->
    <link href="../../../images/assets/css/animate.min.css" rel="stylesheet">
    <!--  Light Bootstrap Table core CSS    -->
    <link href="../../../images/assets/css/light-bootstrap-dashboard.css" rel="stylesheet">
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../../../images/assets/css/demo.css" rel="stylesheet">
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
    <link href="../../../images/assets/css/pe-icon-7-stroke.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
    <script src="../../../images/assets/js/Orden.js"></script>
    <script src="../../../images/assets/js/DetalleOrden.js"></script>
</head>
<body>
<div id="wrapper">
    <div class="sidebar" data-color="blue" data-image="../../../images/assets/img/sidebar-5.jpg" style="position: fixed">
        <div class="sidebar-wrapper" style="position: fixed">
            <div id="encabezado"></div>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header"> <a class="navbar-brand" href="#">Profile</a> </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li> <a href="#">
                            Log out
                        </a> </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br>
        <div id="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-sm-offset-1">
                        <div class="card" style="margin-bottom: 10px;">
                            <div class="header">
                                <h4 class="title">Orden de Pedido</h4>
                            </div>
                            <div id="mensaje_ok" class="alert alert-info">
                                <label id="mensaje1_ok">La orden de pedido se registró correctamente</label>
                            </div>
                            <div id="mensaje" class="alert alert-warning">
                                <label id="mensaje1"></label>
                            </div>
                            <form id="formDetalleOrden" action="../recibirOrdenDetalle/" method="post" style="padding: 20px">
                                <input id="id_op_guardada" name="id_op_guardada" type="hidden" />
                                <div class="row">
                                    <div class="col-6 col-sm-3"><label><b>Fecha Petición</b></label></div>
                                    <div class="col-6 col-sm-3" style="font-weight: bold;">
                                        <input id="fecha_creacion" name="fecha_creacion" type="text" class="form-control input-md"
                                               style="padding: 0px 4px;height:30px;" readonly/>
                                    </div>
                                    <div class="col-6 col-sm-3"><label><b>Estado</b></label></div>
                                    <div class="col-6 col-sm-3">
                                        <select id="estado" name="estado" class="selectpicker form-control" required
                                                style="padding: 0px 4px;height:30px;">
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-sm-3"><label><b>Proveedor</b></label></div>
                                    <div class="col-6 col-sm-3">
                                        <select id="proveedor" name="proveedor" class="selectpicker form-control" required
                                                style="padding: 0px 4px;height:30px;">
                                        </select>
                                    </div>
                                    <div class="col-6 col-sm-3"><label><b>Usuario Creación</b></label></div>
                                    <div class="col-6 col-sm-3">
                                        <select id="usuario_creacion" name="usuario_creacion" class="selectpicker form-control" required
                                                style="padding: 0px 4px;height:30px;">
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-sm-3"><label><b>Observaciones</b></label></div>
                                    <div class="col-6 col-sm-3">
                                       <textarea class="form-control" rows="3" id="observaciones" name="observaciones"
                                                 style="padding: 0px 4px;"></textarea>
                                    </div>
                                </div>
                                <br />
                                <input type="submit" value="Recibir Orden" class="btn btn-primary"/>
                                <a href="../verordenespedido">Cancelar</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-sm-offset-1">
                        <div class="card" style="margin-bottom: 10px;">
                            <div class="header">
                                <h4 class="title">Detalle de la Orden de Pedido </h4>
                            </div>
                            <div style="text-align: center;width: 100%; ">
                                <button type="button" onclick="irEditarItem();" class="btn btn-primary btn-sm" title="Editar Item Orden">
                                    <i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>
                                </button>
                            </div>
                            <br />
                            <div class="table-responsive">
                                <table id="tablaItems" class="table">
                                    <thead>
                                    <tr class="bg-primary">
                                        <th style="color:white;text-align: center;">No.</th>
                                        <th style="color:white;text-align: center;">Nombre Producto</th>
                                        <th style="color:white;text-align: center;">Bodega</th>
                                        <th style="color:white;text-align: center;">Nivel</th>
                                        <th style="color:white;text-align: center;">Sección</th>
                                        <!--th style="color:white;text-align: center;">Valor Unitario</th-->
                                        <th style="color:white;text-align: center;">Cantidad</th>
                                        <th style="color:white;text-align: center;">Estado</th>
                                        <th style="color:white;text-align: center;">trx Inv</th>
                                        <!--th style="color:white;text-align: center;">Total</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <table id="tablaTotal" class="table">
                                    <tr class="bg-success">
                                        <td style="width: 90%; text-align: right;">Total Orden</td>
                                        <td style="text-align: right;"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pie"></div>
    </div>
    <div id="modal1" class="card"></div>
</div>
</body>
<script src="../../../images/assets/js/bootstrap.min.js"></script>
<!--  Checkbox, Radio & Switch Plugins -->
<script src="../../../images/assets/js/bootstrap-checkbox-radio-switch.js"></script>
<!--  Charts Plugin -->
<script src="../../../images/assets/js/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../../../images/assets/js/bootstrap-notify.js"></script>
<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="../../../images/assets/js/light-bootstrap-dashboard.js"></script>
<script>
    contadorItems = 1;
    orden = new Orden();
    itemEditar = null;
    function GetParameterValues(param) {
        var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < url.length; i++) {
            var urlparam = url[i].split('=');
            if (urlparam[0] == param) {
                return urlparam[1];
            }
        }
    }

    (function(){
        try {
            $("#modal1").load("../modal_do");
            $("#encabezado").load("../encabezado");
            $("#pie").load("../pie");
            var parametroMsj = GetParameterValues("msj");
            if (parametroMsj && parametroMsj=='ok'){
                $("#mensaje_ok").show();
            }else{
                $("#mensaje_ok").hide();
            }

            $('#proveedor').attr('disabled', true);
            $('#proveedor').bind('click', false);
            $('#estado').attr('disabled', true);
            $('#estado').bind('click', false);
            $('#usuario_creacion').attr('disabled', true);
            $('#usuario_creacion').bind('click', false);



            $.getJSON("../obtenerEstadosOP").done(function (data) {
                data =  $.parseJSON(data);
                var estado = $("#estado");
                estado.append($("<option />").val("").text("Seleccione Estado..."));
                $(data).each(function() {
                    estado.append($("<option />").val(this.pk).text(this.fields.nombre));
                });
            });
            $.getJSON("../obtenerProveedores").done(function (data) {
                data =  $.parseJSON(data);
                var proveedor = $("#proveedor");
                proveedor.append($("<option />").val("").text("Seleccione Proveedor..."));
                $(data).each(function() {
                    proveedor.append($("<option />").val(this.pk).text(this.fields.first_name+' '+this.fields.last_name));
                });
            });
            $.getJSON("../obtenerSoloUsuarios").done(function (data) {
                data =  $.parseJSON(data);
                var usuario_creacion = $("#usuario_creacion");
                usuario_creacion.append($("<option />").val("").text("Seleccione Usuario..."));
                $(data).each(function() {
                    usuario_creacion.append($("<option />").val(this.pk).text(this.fields.first_name+' '+this.fields.last_name));
                });
            });

            var parametroOP = GetParameterValues("id_op");
            if (parametroOP){
                //cargar informacion
                $.getJSON("../obtener_op",{
                    id_op: parametroOP
                }).done(function (data) {
                    if (data){
                        op =  $.parseJSON(data.op);
                        $("#observaciones").val(op.fields["observaciones"]);
                        $("#id_op_guardada").val(op.pk);
                        $("#usuario_creacion").val(op.fields["usuario_creacion"]);
                        $("#proveedor").val(op.fields["proveedor"]);
                        $("#estado").val(op.fields["estado"]);
                        orden.id = op.pk;
                        orden.idEstado = op.fields["estado"];
                        orden.idProveedor = op.fields["proveedor"];
                        orden.idUsuarioCreacion = op.fields["usuario_creacion"];
                        orden.observaciones = op.fields["observaciones"];

                        //Cargar detalle orden
                        $.getJSON("../obtenerDetalleOrden",{
                            id_op: parametroOP
                        }).done(function (datos) {
                            if (datos){
                                contadorItems = 1;
                                detalle =  $.parseJSON(datos);
                                for (indiceDetalle in detalle){
                                    detalleOrden = new DetalleOrden();
                                    detalleOrden.no = contadorItems;
                                    detalleOrden.idProducto = detalle[indiceDetalle].idProducto;
                                    detalleOrden.nombreProducto = detalle[indiceDetalle].nombreProducto;
                                    detalleOrden.idBodega = detalle[indiceDetalle].idBodega;
                                    detalleOrden.nombreBodega = detalle[indiceDetalle].nombreBodega;
                                    detalleOrden.nivel = detalle[indiceDetalle].nivel;
                                    detalleOrden.seccion = detalle[indiceDetalle].seccion;
                                    detalleOrden.cantidad = detalle[indiceDetalle].cantidad;
                                    detalleOrden.valorUnitario = detalle[indiceDetalle].valorUnitario;
                                    detalleOrden.fechaMovimiento = detalle[indiceDetalle].fechaMovimiento;
                                    detalleOrden.estado = detalle[indiceDetalle].estado;
                                    if (detalle[indiceDetalle].transaccion_inventario == null) {
                                        detalleOrden.transaccion_inventario = "";
                                    }
                                    else {
                                        detalleOrden.transaccion_inventario = detalle[indiceDetalle].transaccion_inventario;
                                    }


                                    strTd = "";
                                    strInicio = "<tr class=\"bg-info\">";
                                    strCont =  "<td style=\"border: 1px solid #ddd;\">"+contadorItems+"</td>";
                                    strTd +=  "<td style=\"border: 1px solid #ddd;\">"+detalleOrden.nombreProducto+"</td>";
                                    strTd +=  "<td style=\"border: 1px solid #ddd;\">"+detalleOrden.nombreBodega+"</td>";
                                    strTd +=  "<td style=\"border: 1px solid #ddd;\">"+detalleOrden.nivel+"</td>";
                                    strTd +=  "<td style=\"border: 1px solid #ddd;\">"+detalleOrden.seccion+"</td>";
                                    //strTd +=  "<td style=\"border: 1px solid #ddd;text-align: right;\">"+detalleOrden.valorUnitario+"</td>";
                                    strTd +=  "<td style=\"border: 1px solid #ddd;text-align: right;\">"+detalleOrden.cantidad+"</td>";
                                    strTd +=  "<td style=\"border: 1px solid #ddd;text-align: right;\">"+detalleOrden.estado+"</td>";
                                    strTd +=  "<td style=\"border: 1px solid #ddd;text-align: right;\">"+detalleOrden.transaccion_inventario+"</td>";
                                    var subTotal = detalleOrden.cantidad * detalleOrden.valorUnitario;
                                    //strTd +=  "<td style=\"border: 1px solid #ddd;text-align: right;\">"+subTotal+"</td>";
                                    strFin =  "</tr>";

                                    $('#tablaItems tr:last').after(strInicio + strCont + strTd + strFin);
                                    orden.items.push(detalleOrden);
                                    contadorItems++;
                                }
                                refrescarTotalOrden();
                            }
                        });





                    }
                    $.getJSON("../obtenerProductos",{
                        id_proveedor: $("#proveedor option:selected").val()
                    }).done(function (data) {
                        data =  $.parseJSON(data);
                        var producto = $("#producto");
                        producto.append($("<option />").val("").text("Seleccione Producto..."));
                        $(data).each(function() {
                            producto.append($("<option data-vu='"+this.fields.valorUnitario+"'/>").val(this.pk).text(this.fields.nombre));
                        });
                        $('#producto').on('change', function() {
                            var valorUnitario = $(this).find('option:selected').data('vu');
                            $('#valor_unitario').val(valorUnitario);
                        });

                        $.getJSON("../obtenerBodegas/Nevera").done(function (data) {
                            data =  $.parseJSON(data);
                            var bodega = $("#bodega");
                            bodega.append($("<option />").val("").text("Seleccione Bodega..."));
                            $(data).each(function() {
                                bodega.append($("<option />").val(this.id).text(this.nombre));
                                bodega.prepend('<div><label id="nivellineades' + this.id + '">' + this.niveles + '</label><label id="seccionlineades' + this.id + '">' + this.secciones + '</label>');
                            });
                        });
                        refrescarTotalOrden();
                    });
                });

                $.getJSON("../obtenerFP",{
                    id_op: parametroOP
                }).done(function (data) {
                    if (data){
                        $("#fecha_creacion").val(data.fecha_peticion);
                    }
                });
            }
            else
            {

            }
        }catch (exc){
            alert(exc.message);
        }
    })();

    $("#mensaje").hide();

    $('#proveedor').on('change', function() {
        $.getJSON("../obtenerProductos?id_proveedor="+this.value).done(function (data) {
            var producto = $("#producto");
            $('#valor_unitario').val("")
            producto.empty();
            producto.append($("<option />").val("").text("Seleccione Producto..."));
            itemEditar = null;
            orden.items = new Array();
            contadorItems=1;
            var trs = $('#tablaItems tr');
            for (var i = 1; i < trs.length; i++) {
                $(trs[i]).remove();
            }
            refrescarTotalOrden();
            if (data){
                data =  $.parseJSON(data);
                $(data).each(function() {
                    producto.append($("<option data-vu='"+this.fields.valorUnitario+"'/>").val(this.pk).text(this.fields.nombre));
                });
            }
        });
    });

    $("#formDetalleOrden").submit(function (e) {
        $("#mensaje").hide();
        $("#mensaje1").text("");
        if (orden.items.length == 0){
            $("#mensaje").show();
            $("#mensaje1").text("Debe adicionar items a la orden");
        }else {
            var formData = new FormData($("#formDetalleOrden")[0]);
            if (formData) {
                orden.observaciones = $("#observaciones").val();
                orden.idUsuarioCreacion = $("#usuario_creacion").val();
                orden.idProveedor = $("#proveedor").val();
                orden.idEstado = $("#estado").val();
                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: JSON.stringify(orden),
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data && data.mensaje && data.mensaje != "ok") {
                            $("#mensaje1").text(data.mensaje);
                            $("#mensaje").show();
                        } else {
                            window.location.reload();
                        }
                    }
                });
            }
        }
        e.preventDefault();
    });


    $('#tablaItems').on('click', '.bg-info', function(event) {
        var numero = this.children[0].textContent;
        for (var i=0;i<orden.items.length;i++){
            var item = orden.items[i];
            if (item.no == numero){
                itemEditar = item;
                break;
            }
        }
        $(this).addClass('active').siblings().removeClass('active');
    });

    function antesHora(){
        $("#mensaje").hide();
        $("#mensaje1").text("");
        $.getJSON("../obtenerFechaActual").done(function (data) {
            var fecha_movimiento = $("#fecha_movimiento");
            fecha_movimiento.val(data.fecha);
        });
    }

    function irEditarItem(){
        if (itemEditar){
            $('#producto').val(itemEditar.idProducto);
            $('#bodega').val(itemEditar.idBodega);
            $("#nivel").val(itemEditar.nivel);
            $("#seccion").val(itemEditar.seccion);
            $("#valor_unitario").val(itemEditar.valorUnitario);
            $("#cantidad").val(itemEditar.cantidad);
            $("#fecha_movimiento").val(itemEditar.fechaMovimiento);

            $('#cantidad').attr('disabled', true);
            $('#cantidad').bind('click', false);

            $('#producto').attr('disabled', true);
            $('#producto').bind('click', false);

            $('#myModal').modal('show');
        }
    }

    function eliminarItem(){
        if (itemEditar) {
            var trs = $('#tablaItems tr');
            for (var i = 1; i < trs.length; i++) {
                var tr = trs[i];
                var numero = tr.children[0].textContent;
                if (itemEditar.no == numero) {
                    $(tr).remove();
                    break;
                }
            }
            for (var i = 0; i < orden.items.length; i++){
                var item = orden.items[i];
                if (itemEditar.no == item.no) {
                    orden.items.splice(i, 1);
                    break;
                }
            }

            trs = $('#tablaItems tr');
            for (var i = 1; i < trs.length; i++) {
                var tr = trs[i];
                tr.children[0].textContent = i;
            }

            for (var i = 0; i < orden.items.length; i++){
                orden.items[i].no = i+1;
            }
            if (orden.items.length > 0) {
                contadorItems = orden.items[orden.items.length - 1].no;
                contadorItems++;
            }else{
                contadorItems=1;
            }
            itemEditar = null;
            refrescarTotalOrden();
        }
    }

    function refrescarTotalOrden(){
        total = 0;
        for (var i = 0; i < orden.items.length; i++){
            total += orden.items[i].cantidad * orden.items[i].valorUnitario;
        }
        var trs = $('#tablaTotal tr');
        if (trs){
            trs[0].children[1].textContent = total;
        }

    }
    /*(function(){
     $.getJSON("isLogged").done(function (data) {
     if (data.mensaje == 'no'){
     $("#add_user").show();
     $("#cerrar_session").hide();
     $("#mod_user").hide();
     $("#mod_pass").hide();
     $("#user_menu").hide();
     $("#login_user").show();
     $("#mi_perfil").hide();
     $("#datos_usuario_login").hide();
     }else{
     $("#add_user").hide();
     $("#cerrar_session").show();
     $("#mod_user").show();
     $("#mod_pass").show();
     $("#user_menu").show();
     $("#login_user").hide();
     $("#mi_perfil").show();
     $("#datos_usuario_login").show();
     if (data.usuario){
     data = $.parseJSON(data.usuario);
     $("#imagen_usuario").attr("title", data.fields.first_name+" "+data.fields.last_name);
     $("#imagen_usuario").attr("src", "../"+data.fields.imageFile);
     }
     }
     });
     })();
     function logout(){
     $.getJSON("logout").done(function (data) {
     if (data.mensaje == 'ok'){
     location.reload();
     }else{
     alert("Hubo un error");
     }
     });
     }

     */
</script>
</html>