<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>

    </script>
</head>
<body>
<form id="formRegistro" action="../addUser/" enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <div id="mensaje" class="alert alert-danger">
                <label id="mensaje1"></label>
            </div>
            <div class="page-header">
                <h2>Registro</h2>
            </div>
            <input id="username" name="username" type="text" placeholder="Usuario" class="form-control input-md"
                   required/>
            <br/>
            <input id="first_name" name="first_name" type="text" placeholder="Nombres" class="form-control input-md"
                   required/>
            <br/>
            <input id="last_name" name="last_name" type="text" placeholder="Apellidos" class="form-control input-md"
                   required/>
            <br/>
            <input id="email" name="email" type="email" placeholder="Email" class="form-control input-md" required/>
            <br/>
            <input id="password" name="password" type="password" placeholder="Contraseña" class="form-control input-md"
                   required/>
            <br/>
            <input id="password2" name="password2" type="password" placeholder="Confirmar Contraseña"
                   class="form-control input-md" required/>
            <br/>
            <input id="intereses" name="intereses" type="text" placeholder="Cuéntenos el interés en la reserva natural"
                   class="form-control input-md" required/>
            <br/>
            País
            <select id="paises" name="paises" class="selectpicker form-control" required>
            </select>
            <br/>
            Ciudad
            <select id="ciudades" name="ciudades" class="selectpicker form-control" required>
            </select>
            <br/>
            Seleccione su foto de perfil
            <input id="fotoFile" name="fotoFile" type="file"/>
            <br/>
            <br/>
            <input type="submit" value="Registrar" class="btn btn-primary"/>
            <a href="../">Cancelar</a>
        </div>
    </div>
</form>
<script>
    $("#mensaje").hide();
    $('form').submit(function (e) {
        var formData = new FormData($("#formRegistro")[0]);
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data && data.mensaje && data.mensaje != "ok") {
                    $("#mensaje1").text(data.mensaje);
                    $("#mensaje").show();
                } else {
                    window.location = "../";
                }
            }
        });
        e.preventDefault();
    });
    (function(){
            $.getJSON("../consultarPaises").done(function (data) {
                if (data){
                    data =  $.parseJSON(data);
                    var paises = $("#paises");
                    paises.append($("<option />").val("").text("Seleccione..."));
                    $(data).each(function() {
                        paises.append($("<option />").val(this.pk).text(this.fields.nombre));
                    });
                }
            });
        })();

    $('#paises').on('change', function() {
        $.getJSON("../consultarCiudades?id="+this.value).done(function (data) {
            if (data){
                data =  $.parseJSON(data);
                var ciudades = $("#ciudades");
                ciudades.empty();
                ciudades.append($("<option />").val("").text("Seleccione..."));
                $(data).each(function() {
                    ciudades.append($("<option />").val(this.pk).text(this.fields.nombre));
                });
            }
        });
    })
</script>
</body>
</html>