<html>

<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <title>.:Laboratorio Científico:.</title>
  <!-- Bootstrap core CSS     -->
  <link href="../../../images/assets/css/bootstrap.min.css" rel="stylesheet">
  <!-- Animation library for notifications   -->
  <link href="../../../images/assets/css/animate.min.css" rel="stylesheet">
  <!--  Light Bootstrap Table core CSS    -->
  <link href="../../../images/assets/css/light-bootstrap-dashboard.css" rel="stylesheet">
  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="../../../images/assets/css/demo.css" rel="stylesheet">
  <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
  <link href="../../../images/assets/css/pe-icon-7-stroke.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
</head>

<body>
<div id="wrapper">
    <div class="sidebar" data-color="blue" data-image="../../../images/assets/img/sidebar-4.jpg" style="position: fixed">
      <div class="sidebar-wrapper" style="position: fixed">
        <div id="encabezado"></div>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
          <div class="navbar-header"> <a class="navbar-brand" href="#">Profile</a> </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li> <a href="#">
                                Log out
                            </a> </li>
            </ul>
          </div>
        </div>
      </nav>
        <br>
    <div id="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-sm-offset-3">
              <div class="card">
                <div class="header">
                  <h4 class="title">Recursos</h4>
                    <p class="category">Registro de Recursos</p>
                </div>
                <form id="formRegistrarInsumo" action="../guardarInsumo/" method="post" enctype="multipart/form-data" novalidate style="padding: 30px">
                    <input id="id_producto_guardado" name="id_producto_guardado" type="hidden" />
                    <label><b>Código</b></label><input class="form-control input-md" id="codigo" name="codigo" placeholder="Ingrese un código de referencia" type="text" required><br>
                    <label><b>Nombre</b></label><input class="form-control input-md" id="nombre" name="nombre" placeholder="Ingrese el nombre" type="text"><br>
                    <label><b>Descripción</b></label><textarea rows="4"class="form-control input-md" id="descripcion" name="descripcion" placeholder="Descripción del insumo o reactivo" type="text" required></textarea><br>
                    <label><b>Valor Unitario</b></label><div class="input-group"><span class="input-group-addon">COP</span><input class="form-control input-md" id="valor" name="valor" type="text" placeholder="Ingrese el valor unitario" required></div><br>
                    <label><b>Unidades Existentes</b></label><input id="unidades" name="unidades" type="number" class="form-control input-md" min="1" max="50" required maxlength="2"><br>
                    <label class="required" for="id_clasificacion">Clasificacion:</label>
                    <br>
                    <select id="clasificacion" name="clasificacion" required class="form-control">
                        <option value="" selected="selected">Seleccione una clasificación...</option>
                        <optgroup label="Materiales Vivos">
                            <option value="Bac">Bacterias</option>
                            <option value="Hon">Hongos</option>
                        </optgroup>
                        <optgroup label="Medios de Cultivo">
                            <option value="Glu">Glucosa</option>
                            <option value="Fru">Fructuosa</option>
                            <option value="Tri">Triptona</option>
                            <option value="Pep">Peptona</option>
                        </optgroup>
                        <optgroup label="Micronutrientes">
                            <option value="Fe">Hierro</option>
                            <option value="Mg">Magnesio</option>
                            <option value="P">Fosforo</option>
                        </optgroup>
                        <optgroup label="Manipulacion ADN y Proteinas">
                            <option value="Pri">Primers</option>
                            <option value="Kem">Kits de extraccion metagenomica</option>
                            <option value="KeADN">Kits de extraccion ADN aislado</option>
                            <option value="Pup">Purificador de proteinas</option>
                            <option value="Enr">Enzimas de restriccion</option>
                            <option value="Pro">Proteasas</option>
                        </optgroup>
                        <optgroup label="Otros">
                            <option value="Otros">Moleculas genericas</option>
                        </optgroup>
                    </select>
                        <br>
                    <label><b>Unidad Medida</b></label><select class="form-control" id="medida" name="medida" required></select><br>
                    <label><b>Cantidad Unitaria</b></label><input id="cantidad" name="cantidad" type="number" class="form-control input-md" min="1" max="9999.9999" required maxlength="4"><br>
                    <label><b>Proveedor</b></label><select class="form-control" id="proveedor" name="proveedor" required></select><br>
                    <label id="lab1"><b>Frecuencia media de Uso</b></label><select class="form-control" id="frecuencia_media" name="frecuencia_media" required>
                        <option value="" selected="selected">Seleccione una frecuencia...</option>
                    <optgroup label="Continua">
                        <option value="Continua">Muchas veces al día</option>
                    </optgroup>
                    <optgroup label="Frecuente">
                        <option value="Frecuente">Al menos 1 vez al día</option>
                    </optgroup>
                    <optgroup label="Ocasional">
                        <option value="Ocasional">Al menos 1 vez a la semana</option>
                    </optgroup>
                    <optgroup label="Poco usual">
                        <option value="PocoUsual">Al menos 1 vez al mes</option>
                    </optgroup>
                    <optgroup label="Rara">
                        <option value="Rara">Unas pocas veces al año</option>
                    </optgroup>
                    <optgroup label="Muy rara">
                        <option value="MuyRara">Al menos 1 vez al año</option>
                    </optgroup>
                    </select><br id="1">
                    <label id="lab2"><b>Cantidad media por cada uso</b></label><input class="form-control input-md" id="cantidad_media" name="cantidad_media" type="number" required><br id="2">
                     <label id="lab3"><b>Frecuencia mínima de Uso</b></label><select class="form-control" id="frecuencia_minima" name="frecuencia_minima" required>
                        <option value="" selected="selected">Seleccione una frecuencia...</option>
                    </select><br id="3">
                    <label id="lab4"><b>Tiempo de reaprovisionamiento</b></label><input class="form-control input-md" id="tiempo" name="tiempo" type="number" required><br id="4">
                    <label for="imageFile"><b>Imagen</b></label><input id="imageFile" name="imageFile" type="file"/>
                    <br>
                    <input type="submit" value="Guardar" class="btn btn-primary"/>
                    <a href="../verRecursos">Cancelar</a></form>
                </div>
            </div>
          </div>
        </div>
    </div>
        <div id="pie"></div>
    </div>
      </div>
</body>
<!--  Checkbox, Radio & Switch Plugins -->
  <script src="../../../images/assets/js/bootstrap-checkbox-radio-switch.js"></script>
  <!--  Charts Plugin -->
  <script src="../../../images/assets/js/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../../../images/assets/js/bootstrap-notify.js"></script>
  <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
  <script src="../../../images/assets/js/light-bootstrap-dashboard.js"></script>
<script>
    (function(){
        try
        {
            $("#encabezado").load("../encabezado");
            $("#pie").load("../pie");
            $("#frecuencia_minima").html("<option value='' selected='selected'>Seleccione una frecuencia...</option><optgroup label='Continua'><option value='Continua'>Muchas veces al día</option></optgroup><optgroup label='Frecuente'><option value='Frecuente'>Al menos 1 vez al día</option></optgroup><optgroup label='Ocasional'><option value='Ocasional'>Al menos 1 vez a la semana</option></optgroup><optgroup label='Poco usual'><option value='PocoUsual'>Al menos 1 vez al mes</option></optgroup><optgroup label='Rara'><option value='Rara'>Unas pocas veces al año</option></optgroup><optgroup label='Muy rara'><option value='MuyRara'>Al menos 1 vez al año</option></optgroup>");
        }
        catch (exc){
            alert(exc.message);
        }
    })();

    $(document).ready(function ()
    {
        $("#proveedor").change(function () {
            if ($("#proveedor option:selected").text().includes("Interno"))
            {
                $("#lab1").hide();
                $("#frecuencia_media").hide();
                $("#1").hide();
                $("#lab2").hide();
                $("#cantidad_media").hide();
                $("#2").hide();
                $("#lab3").hide();
                $("#frecuencia_minima").hide();
                $("#3").hide();
                $("#lab4").hide();
                $("#tiempo").hide();
                $("#4").hide();
            }
            else
            {
                if($("#lab1").is(":visible")== false)
                {
                    $("#lab1").show();
                    $("#frecuencia_media").show();
                    $("#1").show();
                    $("#lab2").show();
                    $("#cantidad_media").show();
                    $("#2").show();
                    $("#lab3").show();
                    $("#frecuencia_minima").show();
                    $("#3").show();
                    $("#lab4").show();
                    $("#tiempo").show();
                    $("#4").show();
                }
            }
        });

        $("#frecuencia_media").change(function ()
        {
            var val = $(this).val();

            if (val == "Continua")
            {
                $("#frecuencia_minima").html("<option value='' selected='selected'>Seleccione una frecuencia...</option><optgroup label='Continua'><option value='Continua'>Muchas veces al día</option></optgroup><optgroup label='Frecuente'><option value='Frecuente'>Al menos 1 vez al día</option></optgroup><optgroup label='Ocasional'><option value='Ocasional'>Al menos 1 vez a la semana</option></optgroup><optgroup label='Poco usual'><option value='PocoUsual'>Al menos 1 vez al mes</option></optgroup><optgroup label='Rara'><option value='Rara'>Unas pocas veces al año</option></optgroup><optgroup label='Muy rara'><option value='MuyRara'>Al menos 1 vez al año</option></optgroup>");
            }
            else if (val == "Frecuente")
            {
                $("#frecuencia_minima").html("<option value='' selected='selected'>Seleccione una frecuencia...</option><optgroup label='Frecuente'><option value='Frecuente'>Al menos 1 vez al día</option></optgroup><optgroup label='Ocasional'><option value='Ocasional'>Al menos 1 vez a la semana</option></optgroup><optgroup label='Poco usual'><option value='PocoUsual'>Al menos 1 vez al mes</option></optgroup><optgroup label='Rara'><option value='Rara'>Unas pocas veces al año</option></optgroup><optgroup label='Muy rara'><option value='MuyRara'>Al menos 1 vez al año</option></optgroup>");
            }
            else if (val == "Ocasional")
            {
                $("#frecuencia_minima").html("<option value='' selected='selected'>Seleccione una frecuencia...</option><optgroup label='Ocasional'><option value='Ocasional'>Al menos 1 vez a la semana</option></optgroup><optgroup label='Poco usual'><option value='PocoUsual'>Al menos 1 vez al mes</option></optgroup><optgroup label='Rara'><option value='Rara'>Unas pocas veces al año</option></optgroup><optgroup label='Muy rara'><option value='MuyRara'>Al menos 1 vez al año</option></optgroup>");
            }
            else if(val == "PocoUsual")
            {
                $("#frecuencia_minima").html("<option value='' selected='selected'>Seleccione una frecuencia...</option><optgroup label='Poco usual'><option value='PocoUsual'>Al menos 1 vez al mes</option></optgroup><optgroup label='Rara'><option value='Rara'>Unas pocas veces al año</option></optgroup><optgroup label='Muy rara'><option value='MuyRara'>Al menos 1 vez al año</option></optgroup>")
            }
            else if(val == "Rara")
            {
                $("#frecuencia_minima").html("<option value='' selected='selected'>Seleccione una frecuencia...</option><optgroup label='Rara'><option value='Rara'>Unas pocas veces al año</option></optgroup><optgroup label='Muy rara'><option value='MuyRara'>Al menos 1 vez al año</option></optgroup>")
            }
            else if(val == "MuyRara")
            {
                $("#frecuencia_minima").html("<optgroup label='Muy rara'><option value='MuyRara'>Al menos 1 vez al año</option></optgroup>")
            }
        });
    });

    (function() {
        $.getJSON("../obtenerTiposMedida").done(function (data) {
            data = $.parseJSON(data);
            var tipoBodega = $("#medida");
            tipoBodega.append($("<option />").val("").text("Seleccione Medida..."));
            $(data).each(function () {
                tipoBodega.append($("<option />").val(this.pk).text(this.fields.nombre));
            });
        })
    })();

    (function() {
        $.getJSON("../obtenerProveedores").done(function (data) {
            data = $.parseJSON(data);
            var tipoBodega = $("#proveedor");
            tipoBodega.append($("<option />").val("").text("Seleccione un Proveedor..."));
            $(data).each(function () {
                tipoBodega.append($("<option />").val(this.pk).text(this.fields.first_name));
            });
        })
    })();

    $("#mensaje").hide();


    $("#formRegistrarInsumo").validate({
        //specify the validation rules
        rules: {
            codigo: {
                    required: true,
                    maxlength: 10
                },
            nombre: {
                    required: true,
                    maxlength: 50
                },
            descripcion:
                {
                    required: true,
                    maxlength: 200
                },
            valor: "required",
            unidades: "required",
            clasificacion: "required",
            medida: "required",
            cantidad: "required",
            imageFile: "required",
            proveedor: "required",
        },

        //specify validation error messages
        messages: {
            codigo:
                {
                    required: "Es requerido un código para la creacion del recurso",
                    maxlength: "El código no debe superar los 10 caracteres"
                },
            nombre:
                {
                    required: "Es requerido un nombre para la creacion del recurso",
                    maxlength: "El nombre no debe superar los 50 caracteres"
                },
            descripcion:
                {
                    required: "Es requerido una descripción para la creacion del recurso",
                    maxlength: "La descripción no debe superar los 200 caracteres"
                },
            valor: "Es necesario un valor unitario para la creación del recurso",
            unidades: "Son necesarias las unidades existentes para la creación del recurso",
            clasificacion: "Es necesario elegir una clasificacion para la creación del recurso",
            medida: "Es necesario elegir una unidad de medida para la creación del recurso",
            cantidad: "Es necesario elegir una cantidad unitaria para la creación del recurso",
            imageFile: "Es necesario subir una imagen para la creación del recurso",
            proveedor: "Es necesario elegir un proveedor para la creación del recurso"
        },

        //submitHandler: function(form){
        //    form.submit();
        //}

    });

    $('form').submit(function (e) {
        var formData = new FormData($("#formRegistrarInsumo")[0]);
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data && data.mensaje && data.mensaje != "ok") {
                    $("#mensaje1").text(data.mensaje);
                    $("#mensaje").show();
                } else {
                    window.location = "../verRecursos";
                }
            }
        });
        e.preventDefault();
    });
</script>
</html>