<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <title>.:Laboratorio Científico:.</title>
  <!-- Bootstrap core CSS     -->
  <link href="../../../images/assets/css/bootstrap.min.css" rel="stylesheet">
  <!-- Animation library for notifications   -->
  <link href="../../../images/assets/css/animate.min.css" rel="stylesheet">
  <!--  Light Bootstrap Table core CSS    -->
  <link href="../../../images/assets/css/light-bootstrap-dashboard.css" rel="stylesheet">
  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="../../../images/assets/css/demo.css" rel="stylesheet">
  <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
  <link href="../../../images/assets/css/pe-icon-7-stroke.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

</head>
<body>
<div id="wrapper">
    <div class="sidebar" data-color="blue" data-image="../../../images/assets/img/sidebar-4.jpg" style="position: fixed">
      <div class="sidebar-wrapper" style="position: fixed">
        <div id="encabezado"></div>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
          <div class="navbar-header"> <a class="navbar-brand" href="#">Profile</a> </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li> <a href="#">
                                Log out
                            </a> </li>
            </ul>
          </div>
        </div>
      </nav>
        <br>
    <div id="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="header">
                  <h4 class="title">Transacciones</h4>
                    <p class="category">Lista de Transacciones</p>
                </div>
                    <form id="formTransaccións" style="padding: 20px">
                            <div style="text-align: center;">
                            <a href="../transaccion" class="btn btn-primary" role="button">Crear Transacción</a>
                            <!--a id="btnEditarTransaccion" href="../transaccion" class="btn btn-primary" role="button" hidden>Editar Transaccion</a-->
                            <a href="../">Cancelar</a>
                            <table id="tabla" class="table table-striped dt-responsive nowrap table-condensed" cellspacing="0" width="100%"></table>
                        </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
    </div>
        <div id="pie"></div>
    </div>
</div>
</body>
 <!--  Checkbox, Radio & Switch Plugins -->
  <script src="../../../images/assets/js/bootstrap-checkbox-radio-switch.js"></script>
  <!--  Charts Plugin -->
  <script src="../../../images/assets/js/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../../../images/assets/js/bootstrap-notify.js"></script>
  <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
  <script src="../../../images/assets/js/light-bootstrap-dashboard.js"></script>

<script>
    //Coloca encabezado y pie de pagina
    (function(){
        try {
            $("#encabezado").load("../encabezado");
            $("#pie").load("../pie");
            //$('#btnEditarTransaccion').attr('disabled', true);
            //$('#btnEditarTransaccion').bind('click', false);
        }catch (exc){
            alert(exc.message);
        }
    })();
    //Trae la lista de transacciones
    $(function () {
        $.getJSON("../obtenerTransacciones").done(function (data) {
            datos =  $.parseJSON(data);
            var tabla = $('#tabla').DataTable( {
                bProcessing: true,
                "scrollX": true,
                aaData: datos,
                aoColumns: [
                    { mData: "id" , sTitle: "Id"},
                    { mData: "tipo" , sTitle: "Tipo"},
                    { mData: "producto" , sTitle: "Producto"},
                    { mData: "cantidad" , sTitle: "Cant."},
                    { mData: "unidad_medida" , sTitle: "Unidad"},
                    { mData: "bodega_origen" , sTitle: "Origen"},
                    { mData: "nivel_origen" , sTitle: "Niv"},
                    { mData: "seccion_origen" , sTitle: "Sec"},
                    { mData: "bodega_destino" , sTitle: "Destino"},
                    { mData: "nivel_destino" , sTitle: "Niv"},
                    { mData: "seccion_destino" , sTitle: "Sec"},
                    { mData: "fecha_ejecucion" , sTitle: "Ejecucion"},
                    { mData: "estado" , sTitle: "Estado"}
              ],
            } );
            $('#tabla tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    //$('#btnEditarTransaccion').attr('disabled', true);
                    //$('#btnEditarTransaccion').bind('click', false);
                }
                else {
                    if ($(this).children()[12].innerText != "Ejecutada") {
                        tabla.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                        valor = $("#btnEditarTransaccion").attr('href');
                        if (valor.indexOf("id_Transaccion") != -1) {
                            valor = valor.split("?")[0];
                        }

                        valor += "?id_Transaccion=" + $(this).children()[0].innerText;
                        //$("#btnEditarTransaccion").attr("href", valor);
                        //$('#btnEditarTransaccion').unbind('click', false);
                        //$('#btnEditarTransaccion').attr('disabled', false);
                    }
                }
            });
        });
    });

    </script>
</html>